body {
  behavior: url("/scripts/csshover2.htc");
}

img,
table.sidebyside .commentflag {
  behavior: url("/scripts/pngfix.htc");
}

/* Line number column and side-by-side divider borders. */
table.sidebyside tr td {
  border-left: 1px #C0C0C0 solid;
}

table.sidebyside tbody.insert td:first-child {
  border-top: 1px #AAAAAA solid;
}

/* The padding around the selector arrow causes rows to grow on IE. */
table.sidebyside thead th.controls,
table.sidebyside th.controls {
  padding: 0;
}

.banner input {
  vertical-align: middle;
}

.box.important {
  padding: 10px;
}

.box.important .box-inner {
  width: 90%;
}

.review-request #details td {
  padding: 4px;
}

/* Position the "View Diff" and other controls correctly. */
.review-request #topcontrols {
  padding: 0 1px 0 0;
}
