body {
}

img,
.box,
.box-inner,
.box h1.title {
  behavior: url("/scripts/pngfix.htc");
}

.banner input {
  vertical-align: middle;
}

.box-container {
  width: 99%;
}

.box.important {
  padding: 10px;
}

.box.important .box-inner {
  width: 90%;
}

.review-request .controls {
  border-top: 1px #999999 solid;
  padding-top: 3px;
  background-color: #e8e5cd;
}

.review-request #details td {
  padding: 4px;
}
