body {
}

img,
.box,
.box-inner,
.box h1.title {
  behavior: url("/scripts/pngfix.htc");
}

/* IE doesn't support borders on tbodys or cols */
table.sidebyside tbody.collapsed td,
table.sidebyside tbody.collapsed th {
  border-bottom: 1px #303030 solid;
  border-top: 1px #303030 solid;
}

/* Line number column and side-by-side divider borders. */
table.sidebyside tr td {
  border-left: 1px #C0C0C0 solid;
}

table.sidebyside tbody.insert td:first-child {
  border-top: 1px #303030 solid;
}

.banner input {
  vertical-align: middle;
}

.box-container {
  width: 99%;
}

.box.important {
  padding: 10px;
}

.box.important .box-inner {
  width: 90%;
}

.review-request .controls {
  border-top: 1px #999999 solid;
  padding-top: 3px;
  background-color: #e8e5cd;
}

.review-request #details td {
  padding: 4px;
}
