body {
  color: black;
  background-color: white;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 8pt;
}

h1 {
  font-size: 10pt;
}

/*
input[type="submit"] {
  border: 1px #808080 solid;
  background: url("/images/button_bg.png");
  padding: 2px 6px;
}
*/

pre {
  font-size: 10pt;
}

label {
  font-weight: bold;
}

table td.label {
  text-align: right;
}

form th {
  text-align: right;
  vertical-align: top;
}

img {
  behavior: url("/scripts/pngfix.htc");
}

/*
 * Inline editor forms
 */
.inline-editor-form {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.inline-editor-form input[type="submit"] {
  margin-left: 5px;
}

.inline-editor-form input[type="text"] {
  border: 1px #888a85 solid;
  padding: 1px 2px;
}

.inline-editor-form textarea {
  margin: 5px 0 0 0;
  border: 1px #888a85 solid;
  padding: 10px;
  font-size: 10pt;
}

.loading-indicator {
	display: inline;
}

ul.errorlist {
  display: inline;
  margin: 0 0 0 15px;
  padding: 0;
}

ul.errorlist li {
  display: inline;
  color: red;
}

#headbar {
  margin-bottom: 8px;
}

#title {
  display: inline;
  font-size: 24pt;
  font-weight: normal;
}

#title a {
  color: black;
  text-decoration: none;
}

#beta {
  color: #808080;
  display: inline;
  font-size: 12pt;
  font-weight: normal;
}

ul#accountnav {
  position: absolute;
  right: 20px;
  top: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#accountnav li {
  display: inline;
}

#navbar {
  background-color: #C6DCF3;
  border: 1px #3465A4 solid;
  padding: 2px 6px;
  width: 100%;
  margin-bottom: 12px;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline;
  height: 30px;
  margin-right: 14px;
}

#navbar a {
  color: #0000AA;
  text-decoration: none;
  font-size: 110%;
  font-weight: bold;
}

#navbar #changenumform {
  text-align: right;
}

#navbar #changenumform input[type='text'] {
  border: 1px black inset;
}

#navbar form {
  color: #0000AA;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

#error div {
  background: #ffcd9c;
  padding: 8px 10px;
  border: 1px #9a4306 solid;
  margin-bottom: 10px;
}

#error h1 {
  padding: 0;
  margin: 0;
  display: inline;
}

#error input[type='submit'] {
  margin-left: 10px;
}

#banner div {
  background: #cdff9c;
  padding: 8px 10px;
  border: 1px #4e9a06 solid;
  margin-bottom: 10px;
}

#banner h1 {
  padding: 0;
  margin: 0;
  display: inline;
}

#banner input[type='submit'] {
  margin-left: 10px;
}

.box-container {
  border: 1px #DCDCDC solid;
  margin-bottom: 10px;
}

.box {
  border: 1px #888A85 solid;
  background: url('/images/box_top_bg.png') repeat-x top left;
}

.box-inner {
  background: url('/images/box_bottom_bg.png') repeat-x bottom left;
}

.box .main {
  padding: 5px;
}

.box h1.title {
  background: #a2bedc url('/images/box_top_bg.png') repeat-x top left;
  font-size: 120%;
  margin: 0;
  padding: 5px 10px;
}

.dashboard .main,
.reviewlist .main,
.grouplist .main,
.submitterlist .main {
  padding: 10px;
}

.reviewlist .main {
  padding: 10px;
}

table.list {
  border-collapse: collapse;
  width: 100%;
}

table.list th {
  padding: 4px;
  text-align: left;
}

table.list tr {
  background-color: #F8F8F8;
  border: 1px #B3C7BF solid;
}

table.list tr:hover {
  background-color: #E8E8E8;
}

table.list tr.headers {
  border: 0px;
  border-bottom: 1px #888888 solid;
}

table.list tr:hover.headers {
  background-color: transparent;
}

table.list .age1 {
  background: #beedbc;
  border-left: 1px #8bbd5c solid;
  border-right: 1px #8bbd5c solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age1 {
  background: #abd5a9;
}

table.list .age2 {
  background: #ddfa8e;
  border-left: 1px #a3e266 solid;
  border-right: 1px #a3e266 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age2 {
  background: #c6e07f;
}

table.list .age3 {
  background: #fdf18c;
  border-left: 1px #d8c158 solid;
  border-right: 1px #d8c158 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age3 {
  background: #e3d87e;
}

table.list .age4 {
  background: #fed3a9;
  border-left: 1px #d49659 solid;
  border-right: 1px #d49659 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age4 {
  background: #e4bd98;
}

table.list .age5 {
  background: #fab6b6;
  border-left: 1px #f56363 solid;
  border-right: 1px #f56363 solid;
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

table.list tr:hover .age5 {
  background: #e0a3a3;
}

table.list td {
  padding: 4px;
}

table.list td.summary {
  cursor: pointer;
}

table.list td a {
  color: black;
  text-decoration: none;
}

.section .title {
  background: #DDDDDD;
  border: 1px black solid;
  padding: 4px 8px;
}

.section .body {
  margin-left: 20px;
  padding: 10px;
}

.section {
  margin-bottom: 20px;
}

/*****************************************************************
 * Diff Viewer
 *****************************************************************/
#diffs {
  list-style: none;
  margin: 0;
  padding: 0;
}

#diffs div.index ol {
  margin-bottom: 20px;
  padding-left: 30px;
}

#diffs table.sidebyside {
  margin-bottom: 20px;
}

table.sidebyside pre {
  font-size: 8pt;
  margin: 0;
  line-height: 140%;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

table.sidebyside {
  border: 1px #C0C0C0 solid;
  margin: 2px;
  padding: 2px;
  background: white;
  border-collapse: collapse;
}

table.sidebyside thead th {
  background: #F0F0F0;
  border-bottom: 1px #C0C0C0 solid;
  font-size: 120%;
  font-weight: bold;
  padding: 4px 8px;
  text-align: left;
  text-overflow: ellipsis;
}

table.sidebyside thead th.rev {
  font-size: 100%;
}

table.sidebyside thead th.controls,
table.sidebyside th.controls {
  padding: 2px 0 2px 2px;
  font-size: 100%;
  font-weight: normal;
  vertical-align: top;
}

table.sidebyside tbody th {
  text-align: right;
  vertical-align: top;
}

table.sidebyside tbody td {
  vertical-align: top;
}

table.sidebyside col.line {
  border-right: 1px #C0C0C0 solid;
}

table.sidebyside a {
  color: black;
  text-decoration: none;
}

table.sidebyside col.left {
  border-right: 1px #C0C0C0 solid;
}

table.sidebyside col.left,
table.sidebyside col.right {
  width: 50%;
}

table.sidebyside tbody th {
  background: #F0F0F0;
}

table.sidebyside tbody tr.selected {
  background: #e2e2e2;
}

table.sidebyside tbody.collapsed {
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

table.sidebyside tbody.collapsed th {
  background: #e4d9cb;
}

table.sidebyside tbody.collapsed td {
  background: #e4d9cb;
  text-align: center;
  font-size: x-small;
}

table.sidebyside tbody.replace {
  background: #fffe88;
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

table.sidebyside tbody.replace .hl {
  background: #e7e645;
}

table.sidebyside tbody.replace th {
  background: #fffe88;
}

table.sidebyside tbody.replace tr.selected {
  background: #e2e179;
}

table.sidebyside tbody.delete {
  background: #fcc8c8;
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

table.sidebyside tbody.delete th {
  background: #fcc8c8;
}

table.sidebyside tbody.delete tr.selected {
  background: #dfb1b1;
}

table.sidebyside tbody.insert {
  background: #aeffac;
  border-top: 1px #303030 solid;
  border-bottom: 1px #303030 solid;
}

table.sidebyside tbody.insert th {
  background: #aeffac;
}

table.sidebyside tbody.insert tr.selected {
  background: #9ae298;
}

/* Extra whitespace highlight */
table.sidebyside .ew {
  background: #ee3434;
}

table.sidebyside .commentflag {
  position: absolute;
  left: 2px;
  width: 25px;
  height: 21px;
  margin-top: -1px;
  background: url('/images/comment.png') no-repeat;
  padding-left: 5px;
  text-align: left;
  vertical-align: top;
  font-size: 90%;
  font-weight: normal;
  line-height: 1.9em;
  cursor: pointer;
}

table.sidebyside .commentflag.draft {
  background: url('/images/comment-draft.png') no-repeat;
}

#comment-dlg #commentform {
  padding: 0;
  margin: 0;
}

#comment-dlg #commentform .label {
  display: block;
  font-weight: bold;
}

#comment-dlg textarea {
  height: 100px;
  width: 450px;
  margin: 5px 0 0 0;
  border: 1px #888a85 solid;
  padding: 10px;
  font-size: 10pt;
}

#comment-dlg #comment-status {
  float: left;
  color: black;
  margin-top: 5px;
}

#comment-dlg #comment-status.error {
  font-weight: bold;
}

#comment-dlg #comments-list {
  font-size: 90%;
  margin: 0px;
  padding: 0px;
}

#comment-dlg #comments-list li.comment {
  border-top: 1px #cccccc solid;
  margin-bottom: 0.4em;
}

#comment-dlg #comments-list li.comment:first-child {
  border-top: 0px;
}

#comment-dlg #comments-list dt {
  margin-top: 0.5em;
}

#comment-dlg #comments-list dt a {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: #AB5603;
}

#comment-dlg #comments-list .draft dt a {
  color: #4e9a06;
}

#comment-dlg #comments-list dt span {
  color: #487858;
  font-weight: normal;
}

#comment-dlg #tab-review label {
  display: block;
  padding-top: 10px;
}

#comment-dlg #reviewform {
  padding: 0;
  margin: 0;
}

#comment-dlg #review-body {
  display: block;
  border: 1px #888a85 solid;
  height: 300px;
  padding: 0px;
  cursor: text;
}

#comment-dlg #review-body textarea {
  margin: 0px;
  height: 1.5em;
  overflow: hidden;
  border: 0;
}

#comment-dlg #review-body #all-review-comments {
  margin: 0px 10px;
  border-top: 1px #888a85 dotted;
  border-bottom: 1px #888a85 dotted;
  cursor: default;
}

#comment-dlg #review-body #all-review-comments ol {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  list-style: none;
}

#comment-dlg #review-body #all-review-comments dt .filename {
  font-weight: bold;
}

#comment-dlg #review-body #all-review-comments dt .lines {
  color: #487858;
}

#review_request_form input[type='text'] {
    width: 400px;
}

#review_request_form textarea {
  width: 400px;
}

.review-request {
  background-color: #fefadf;
}

.review-request label {
  font-weight: bold;
  color: #575012;
}

.inline-editor-form.summary-editor {
  margin-top: -2px;
  margin-left: -3px;
}

.review-request #summary {
  display: inline;
  font-size: 130%;
}

.review-request #summary a {
  color: black;
}

.review-request #updated_time,
.review-request #created_time {
  text-align: right;
  vertical-align: bottom;
}

.review-request #diff_revision {
  text-align: right;
  vertical-align: bottom;
  font-weight: bold;
}

.review-request #status {
  color: #39350b;
}

.review-request #details {
  width: 100%;
  border-spacing: 8px;
  border-top: 1px #c2c1b0 solid;
  border-bottom: 1px #c2c1b0 solid;
  padding: 5px 0px;
  margin-top: 5px;
}

.editicon {
  margin-left: 4px;
  vertical-align: bottom;
  cursor: pointer;
}

.review-request #details .label {
  text-align: right;
  white-space: nowrap;
}

.review-request #details .caption {
  color: #39350b;
  font-weight: bold;
  white-space: nowrap;
}

.review-request #details .indented {
  padding-left: 20px;
}

.review-request .content {
  margin: 5px;
  padding: 0;
}

.review-request .content label {
  display: block;
  margin-top: 20px;
}

.review-request .content pre {
  margin: 5px 0 0 0;
  border: 1px #b8b5a0 solid;
  padding: 10px;
  background-color: #FFFFFF;
}

.review-request textarea {
  border: 1px #b8b5a0 solid;
}

.review-request noscript form {
  text-align: right;
  margin: 10px 5px 5px 5px;
}

.review-request .controls {
  padding: 0px 8px 4px 8px;
  text-align: right;
  list-style: none;
  margin: 0;
}

.review-request .controls li {
  display: inline;
  padding-left: 8px;
}

.review-request .controls img {
  vertical-align: bottom;
}

.review-request .controls a {
  text-decoration: none;
  color: black;
}

.review-request .controls a:hover {
  color: #0000C0;
}

span.draftlabel {
  color: #008000;
  font-size: x-small;
}


/*****************************************************************
 * Reviews
 *****************************************************************/
.review {
  background-color: #e9edf5;
}

.review .header {
  padding: 2px 4px;
}

.review .header a {
  color: black;
  text-decoration: none;
}

.review .shipit {
  background: #aeff60;
  border: 1px #888888 solid;
  padding: 4px 8px;
  float: left;
  position: relative;
  left: -10px;
  top: -8px;
  font-weight: bold;
  margin-right: 5px;
}

.review .reviewer {
  float: left;
  font-weight: bold;
}

.review .posted_time {
  text-align: right;
}

.review .body {
  clear: both;
  border: 1px #AAAAAA solid;
  padding: 10px;
  background-color: #FAFAFA;
  margin: 5px;
}

.review .body .body_top,
.review .body .body_bottom {
  margin: 0px;
}


.review ul.controls {
  padding: 0px 8px 4px 8px;
  text-align: right;
  list-style: none;
  margin: 0;
}

.review .body .controls {
  //border-top: 1px #E6E6E6 solid;
}

.review .body .controls a {
  text-decoration: none;
}

.review .diff-comments dt thead th {
  font-weight: normal;
}

.review .diff-comments .filename a {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.review .diff-comments dd {
  margin-bottom: 20px;
}

.review ol.reply-comments {
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.review li.reply-comment {
  display: inline;
}

.review li.reply-comment dl {
  border-left: 2px #D0D0D0 solid;
  margin: 0px;
  padding: 5px;
}

.review li.reply-comment dt a {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: #AB5603;
}

.review li.reply-comment dt span {
  color: #487858;
  font-weight: normal;
}

.review li.reply-comment dd {
  margin-left: 10px;
}


/*****************************************************************
 * Review
 *****************************************************************/

#new-review {
  background: #fefadf url('/images/box_top_bg.png') repeat-x top left;
  border: 1px #888a85 solid;
  margin-bottom: 20px;
}

#new-review .main {
  padding: 10px;
}

#new-review label {
  font-weight: bold;
  color: #575012;
}

#new-review #summary {
  font-size: 130%;
  margin: 0px 0px 10px 0px;
}

.summary-editor input[type="text"] {
  font-size: 130%;
  font-weight: bold;
}

#new-review #summary a {
  color: black;
}

#new-review .header {
  width: 100%;
  padding: 10px 0px;
}

#new-review textarea {
  width: 100%;
  margin-bottom: 20px;
}

#new-review .controls {
  background: #ede6b7;
  border-top: 1px #888a85 solid;
  padding: 4px 8px;
  text-align: right;
  list-style: none;
  margin: 0;
}

#new-review .controls li {
  display: inline;
  padding-left: 8px;
}

#new-review .controls img {
  vertical-align: bottom;
}

#new-review .controls a {
  text-decoration: none;
  color: black;
}

#new-review .controls a:hover {
  color: #0000C0;
}
