<div class="issue-state resolved">The issue has been resolved</div>
<div class="issue-state open">The issue is open</div>
<div class="issue-state dropped">The issue has been dropped</div>

<input type="button" value="Fixed" class="issue-button resolve"/>
<input type="button" value="Drop" class="issue-button drop"/>
<input type="button" value="Re-open" class="issue-button reopen"/>

<script language="javascript">
  $(document).ready(function() {
    $("#comment-{{comment.id}}-issue")
        .commentIssue({{review.id}}, {{comment.id}}, "{{comment_type}}", "{{issue_status}}");
  });
</script>

