{% load i18n %}
{% comment %}
This template should be kept in sync with the templates in:

- templates/reviews/changedesc_commit_list.html
- static/rb/js/diffviewer/views/diffCommitListView.es6.js

so that they render items identically.
{% endcomment %}
<table class="commit-list">
 <colgroup>
{% if to_expand %}
   <col class="expand-collapse-control">
{% endif %}
   <col>{# Summary column #}
{% if include_author_name %}
   <col>
{% endif %}
 </colgroup>
 <thead>
  <tr>
    <th{% if to_expand %} colspan="2"{% endif %}>{% trans "Summary" %}</th>
{% if include_author_name %}
   <th>{% trans "Author" %}</th>
{% endif %}
  </tr>
 </thead>
 <tbody>
{% for commit in commits %}
  <tr>
{%  if to_expand %}
   <td>
{%   if commit.pk in to_expand %}
    <a href="#" class="expand-commit-message" data-commit-id="{{commit.pk}}" aria-role="button">
     <span class="fa fa-plus" title="{% trans "Expand commit message."%}"></span>
    </a>
{%   endif %}
   </td>
{%  endif %}
   <td class="commit-message"><pre>{{commit.summary}}</pre></td>
{%  if include_author_name %}
   <td>{{commit.author_name}}</td>
{%  endif %}
  </tr>
{% endfor %}
 </tbody>
</table>
