{% load i18n %}
<script id="comment-dlg-template" type="text/template">
 <div class="other-comments">
  <h1 class="title">{% trans "Other reviews" %}</h1>
  <ul></ul>
 </div>
 <form method="post">
  <h1 class="title">{% trans "Your comment" %}</h1>
{% if not request.user.is_authenticated %}
{%  url login as login_url %}
  <p>
   {% blocktrans %}You must <a href="{{login_url}}">log in</a> to post
   a comment.{% endblocktrans %}
  </p>
{% endif %}
  <textarea name="text" rows="6" cols="30"></textarea>
  <div class="comment-issue-options">
   <input type="checkbox" name="comment_issue" />
   <label for="comment_issue">{% trans "Open an <u>i</u>ssue" %}</label>
  </div>
  <div class="status"></div>
  <div class="buttons">
   <input type="button" class="save" value="{% trans "Save" %}" disabled="true" />
   <input type="button" class="cancel" value="{% trans "Cancel" %}" />
   <input type="button" class="delete" value="{% trans "Delete" %}" disabled="true" />
  </div>
 </form>
</script>
