{% load djblets_utils %}
{% load i18n %}
   <li class="reply-comment{% if draft %} draft" id="yourcomment_{{context_id}}-{{id}}-item{% endif %}">
    <dl>
     <dt>
      <label for="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}">
      <a href="{% url user reply_user %}">{{reply_user|user_displayname}}</a>
      <span class="timestamp">{% blocktrans with timestamp|timesince as timestamp_since and timestamp|date:"F jS, Y, P" as timestamp_date %}{{ timestamp_since }} ago ({{ timestamp_date }}){% endblocktrans %}</span>
      </label>
     </dt>
     <dd><pre id="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}" class="reviewtext">{{text|escape}}</pre></dd>
    </dl>
   </li>
