{% extends "base.html" %}
{% load datagrid djblets_utils i18n %}

{% block title %}{% trans "Search Review Requests" %}{% endblock %}

<!-- TODO: highlight search terms in summaries/excerpts -->

{% block content %}
{%  if hits_returned == 0 %}
{%   trans "No review requests matching your query" %}: <b>{{query}}</b>
{%  else %}
{%   blocktrans %}
<b>{{hits_returned}}</b> results for <b>{{query}}</b>
{%   endblocktrans %}
{%   if total_hits > hits_returned %}
({% trans "Additional results exist but are not returned. If you do not see the review request you're looking for, try making your query more specific." %})
{%   endif %}
{%  endif %}
<br /><br />
<form method="get" action=".">
{%  for result in page.object_list %}
{%   if result.object and result.object.id %}
 <div class="searchresult">
  <h2><a href="{{result.object.get_absolute_url}}">{{result.object.summary}}</a></h2>
  <div class="excerpt">{{result.object.description|truncatewords:30}}</div>
  <div class="by">{% blocktrans with result.object.time_added as added_timestamp and result.object.time_added|date:"c" as added_timestamp_raw and result.object.submitter|user_displayname as added_by %}<time class="timesince" datetime="{{added_timestamp_raw}}">{{added_timestamp}}</time> by {{added_by}}{% endblocktrans %}</div>
 </div>
{%   endif %}
{%  endfor %}
 <div>
{%  if page.has_previous %}
  <a href="?q={{query}}&amp;page={{page.previous_page_number}}">&laquo; {% trans "Previous" %}</a>
{%  endif %}
{%  if page.has_previous and page.has_next %}
  |
{%  endif %}
{%  if page.has_next %}
  <a href="?q={{query}}&amp;page={{page.next_page_number}}">{% trans "Next" %} &raquo;</a>
{%  endif %}
 </div>
</form>
{% endblock %}
