<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load compressed %}
{% load djblets_deco %}
{% load djblets_extensions %}
{% load djblets_utils %}
{% load i18n %}
{% load rb_extensions %}
{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>{% block title %}{% endblock %} | Review Board</title>
{% block extrahead %}{% endblock %}
{% template_hook_point "base-extrahead" %}
  <script type="text/javascript">
    var AJAX_SERIAL = "{{AJAX_SERIAL}}",
        SITE_ROOT = "{{SITE_ROOT}}",
        STATIC_URLS = {
            'rb/images/delete.png': '{% static "rb/images/delete.png" %}',
            'rb/images/edit.png': '{% static "rb/images/edit.png" %}',
            'rb/images/favicon_notify.ico': '{% static "rb/images/favicon_notify.ico" %}',
            'rb/images/resize-grip.png': '{% static "rb/images/resize-grip.png" %}',
            'rb/images/star_off.png': '{% static "rb/images/star_off.png" %}',
            'rb/images/star_on.png': '{% static "rb/images/star_on.png" %}'
        },
{% if not user.is_anonymous %}
        gUserName = "{{user.username}}",
        gUserFullName = "{{user|user_displayname}}",
{% endif %}
        gUserAuthenticated = {{user.is_authenticated|lower}};
{% block jsconsts %}{% endblock %}
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "rb/images/favicon.ico" %}" />
  <link rel="apple-touch-icon-precomposed" type="image/png" href="{% static "rb/images/apple-home-icon.png" %}" />
{% compressed_css "common" %}
{% block css %}{% endblock %}
{% template_hook_point "base-css" %}
  <!--[if lt IE 7.]>
  <style type="text/css">
    body {
      behavior: url("{% static "rb/js/csshover2.htc" %}");
    }

    img,
    table.sidebyside .commentflag,
    .box.important .box-inner {
      behavior: url("{% static "rb/js/pngfix.htc" %}");
    }
{% block ie6_csshacks %}{% endblock %}
  </style>
  <![endif]-->
  <!--[if lt IE 8.]>
  <link rel="stylesheet" type="text/css" href="{% static "rb/css/ie_hacks.css" %}"></script>
  <![endif]-->
{% include "js/jquery.html" %}
{% block scripts %}{% endblock %}
{% include "js/pipeline.html" %}
{% template_hook_point "base-scripts" %}
 </head>
{% block bodytag %}
 <body>
{% endblock %}
  <div id="container">
{% block headerbar %}
   <div id="headerbar">
    <ul id="accountnav">
{% if user.is_authenticated %}
{%  blocktrans with user|realname|escape as username %}
     <li>Welcome, <b>{{username}}</b></li>
{% endblocktrans %}
     <li>- <a href="{% url user-preferences %}">{% trans "My account" %}</a></li>
{%  if user.is_staff %}
     <li>- <a href="{% url reviewboard.admin.views.dashboard %}">{% trans "Admin" %}</a></li>
{%  endif %}
     <li>- <a href="{% url logout %}">{% trans "Log out" %}</a></li>
{% else %}
     <li><a href="{% url login %}?next_page={{request.path}}">{% trans "Log in" %}</a></li>
{#  XXX Using default sucks, but siteconfig defaults don't #}
{#      work from templates.                               #}
{%  if auth_backends.0.supports_registration and siteconfig.settings.auth_enable_registration|default_if_none:1 %}
     <li>- <a href="{% url register %}">{% trans "Register" %}</a></li>
{%  endif %}
{% endif %}{# !is_authenticated #}
     <li>- <a href="http://www.reviewboard.org/docs/manual/dev/">{% trans "Documentation" %}</a></li>
     <li>- <a href="http://www.reviewboard.org/bugs/">{% trans "Bugs" %}</a></li>
     <li>- <a href="http://www.reviewboard.org/bugs/new/">{% trans "Report bug" %}</a></li>
    </ul>
    <br />
   {% include "base/branding.html" %}
   </div>
   <div id="page-container">
{% template_hook_point "base-before-navbar" %}
{% block navbar %}
   {% if user.is_authenticated or not siteconfig.settings.auth_require_sitewide_login %}
    {% if siteconfig.settings.search_enable %}<form method="get" action="{% url search %}">{% endif %}
     <div id="navbar-outer">
      <ul id="navbar">
{% if user.is_authenticated %}
       <li><a href="{% url dashboard %}">{% trans "My Dashboard" %}</a></li>
       <li><a href="{% url new-review-request %}">{% trans "New Review Request" %}</a></li>
       <li>-</li>
{% endif %}
       <li><a href="{% url all-review-requests %}">{% trans "All review requests" %}</a></li>
       <li><a href="{% url all-groups %}">{% trans "Groups" %}</a></li>
       <li><a href="{% url all-users %}">{% trans "Submitters" %}</a></li>
{% navigation_bar_hooks %}
       <li id="searchbar">
       <input type="text" name="q" id="search_field" {% attr "value" %}{{query}}{% endattr %} />
       {% if siteconfig.settings.search_enable %}
        <input type="submit" value="{% trans "Search" %}" />
       {% endif %}
       </li>
      </ul>
     </div>
     {% if siteconfig.settings.search_enable %}</form>{% endif %}
    {% endif %}
{% endblock %}
{% endblock %}
    <noscript>
{%  box "important" %}
     <h1>{% trans "JavaScript is turned off" %}</h1>
     <p>{% blocktrans %}Review Board requires JavaScript in order to function.
     Please turn it on in your browser preferences.{% endblocktrans %}
     <p>{% blocktrans %}Firefox users: if you prefer to turn on JavaScript only
     for specific sites, we recommend the
     <a href="https://addons.mozilla.org/en-US/firefox/addon/722">NoScript
     extension</a>.{% endblocktrans %}</p>
{%  endbox %}
    </noscript>
    <div id="error"></div>
    {% template_hook_point "base-after-navbar" %}
    <div id="content">
{% template_hook_point "base-before-content" %}
{% block content %}{% endblock %}
{% template_hook_point "base-after-content" %}
    </div>
   </div>
  </div>
  {% include "js/jquery-ui.html" %}
  <script type="text/javascript" src="{% static "djblets/js/jquery.gravy.js" %}"></script>
  {% compressed_js "common" %}
{% block scripts-post %}{% endblock %}
{% template_hook_point "base-scripts-post" %}
 </body>
</html>
