# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Wildcards
.*.swp
.*.swo
*.bak
*.db
*.db.*
*.egg-info
*.orig
*.pyc
*.rej

# Files
.coverage
.noseids
reviewboard/settings_local.py
reviewboard.log
settings_local.py

# Generated locale files
django.mo
djangojs.mo

# Generated media files
reviewboard/htdocs/media/rb/css/admin.min.css
reviewboard/htdocs/media/rb/css/common.min.css
reviewboard/htdocs/media/rb/css/reviews.min.css
reviewboard/htdocs/media/rb/js/admin.min.js
reviewboard/htdocs/media/rb/js/base.min.js
reviewboard/htdocs/media/rb/js/reviews.min.js
reviewboard/htdocs/static/

# Directories/symlinks
reviewboard/htdocs/media/djblets
reviewboard/htdocs/media/uploaded
_build
build
dist
django_cache
pickle
temp
.idea
bak
