kgb~=7.3
nose

# Required for Django type hints.
django-stubs~=5.2.8

p4python

# Install pytest and all the plugin dependencies we use.
pytest~=9.0.2
pytest-django~=4.11.1
pytest-env~=1.2.0

# Load in some extra dependencies defined in Review Board's setup.py.
ReviewBoard[ldap]
ReviewBoard[s3]
ReviewBoard[saml]
ReviewBoard[swift]
