breezy; python_version >= '3'
bzr; python_version == '2.7'
kgb~=7.0
mercurial>=4.4.2,<6.0.999; python_version <= '2.7'
mercurial>=6.0; python_version > '3'
mock
nose

# As of p4python 2021.1.2128019, there are only compiled wheel packages for
# Python 2.7 and 3.6 through 3.9. p4python's setup.py doesn't support
# automatically locating p4api or OpenSSL on anything but Linux. We have to
# wire off Python 3.10 support for now when not running on Linux or arm64.
#
# On Apple M1, we use our own builds, since as of right now, there are no
# official arm64 p4python builds from Perforce.
--trusted-host=downloads.reviewboard.org
--find-links=http://downloads.reviewboard.org/ports/p4python/
p4python; python_version <= '3.9' or platform_system == 'Linux' or (platform_system == 'Darwin' and platform_machine == "arm64")

# Install pytest and all the plugin dependencies we use.
pytest~=7.1.2
pytest-django~=4.5.2
pytest-env~=0.6.2

setuptools>=18.2
subvertpy>=0.11.0

wheel

# Load in some extra dependencies defined in Review Board's setup.py.
ReviewBoard[ldap]
ReviewBoard[s3]
ReviewBoard[swift]

# python3-saml requires lxml but caps it's version to < 4.7.1.
# lxml < 4.7.1 fails to install on Python 3.11, so we only support installing
# the SAML dependencies for Python <= 3.10.
ReviewBoard[saml]; python_version <= '3.10'
