recursive-include contrib *
recursive-include docs *.db *.txt *.png *.py Makefile
recursive-include locale *
recursive-include reviewboard *
recursive-include webtests *
prune docs/*/_build
prune reviewboard/htdocs/media/uploaded/files
prune reviewboard/htdocs/media/uploaded/images
prune reviewboard/htdocs/static/djblets
include ez_setup.py
include AUTHORS
include COPYING
include INSTALL
include NEWS
include README.md
exclude settings_local.py
