DATABASE_ENGINE = 'mysql'           # 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
DATABASE_NAME = 'reviewboard'             # Or path to database file if using sqlite3.
DATABASE_USER = '********'             # Not used with sqlite3.
DATABASE_PASSWORD = '********'         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

# Make this unique, and don't share it with anybody.
SECRET_KEY = '***********************************************"

CACHE_BACKEND = "locmem:///"

SEND_REVIEW_MAIL = False
