@import "defs.less";


/****************************************************************************
 * Dashboard
 ****************************************************************************/
#dashboard-main {
  background: white;
  border-left: 1px @box-border-color solid;
  vertical-align: top;
  margin-left: 18em;
  .border-radius(0 @box-inner-border-radius @box-inner-border-radius 0);

  table:after {
    clear: both;
  }

  .datagrid td.bugs a {
    text-decoration: underline;
    color: @link-color;
  }

  .datagrid-titlebox {
    .border-radius(0 @box-inner-border-radius 0 0);
  }

  .datagrid-title {
    background: transparent;
  }

  .main {
    padding: 0;
  }

  .repository-column {
    white-space: nowrap;
  }
}

#dashboard-navbar {
  float: left;
  width: 18em;

  td {
    padding: 5px 8px;
    word-break: break-all;

    label {
      color: #575012;
      font-weight: bold;
    }

    .rb-icon {
      vertical-align: bottom;
    }
  }

  .selected {
    border-top: 1px #999999 solid;
    border-bottom: 1px #999999 solid;

    td {
      background: #D0D0D0;
    }
  }

  tr.selected {
    background: #b2ceec;
  }

  .main-item {
    font-weight: bold;
  }

  .header {
    font-weight: bold;
    padding-top: 15px;
  }

  .sub-item {
    padding-left: 25px;
  }

  .nickname {
    font-size: 1.4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .email, .group {
    text-decoration: underline;
    color: #0000C0;
  }

  .fn, .email {
    font-size: 1.2em;
  }

  .logged-in {
    padding-top: 1.5em;
  }
}

#dashboard-navbar tr {
  background: transparent;
}

#dashboard-wrapper {
  background-color: #E9E9E9;
  .border-radius(@box-inner-border-radius);
}

// vim: set et ts=2 sw=2:
