/**
 * CSS reset.
 *
 * Version Added:
 *     9.0
 */

@layer reset {
  body {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  html, body {
    min-height: 100vh;
  }
}
