.searchresult {
  padding-bottom: 2em;

  h2 {
    font-size: 110%;
    font-weight: normal;
    margin: 0;
  }
}

.excerpt {
  width: 60em;
}

.by {
  color: #555555;
  font-size: 85%;
}

// vim: set et ts=2 sw=2:
