{% extends "base.html" %}
{% load htmlutils %}
{% block title %}My Account{% endblock %}

{% block content %}
{% if must_configure %}
{% box important %}
 <h1>Apologies for the interruption, but please read this.</h1>
 <p>
  Before you can continue to use Review Board, you'll need to set a few
  things. This will help us get to know each other better.
 </p>
 <p>
  At a minimum, make sure you have joined one or more groups.
 </p>
</div>
{% endbox %}
{% endif %}

<form method="post" action=".">
 {{form.redirect_to}}
{% box prefsuser %}
 <h1 class="title">User Preferences</h1>
 <div class="main">
  <table>
   <tr>
    <td><label for="id_first_name">First Name:</label></td>
    <td>{{form.first_name}}</td>
   </tr>
   <tr>
    <td><label for="id_last_name">Last Name:</label></td>
    <td>{{form.last_name}}</td>
   </tr>
  </table>
 </div>
{% endbox %}
{% box prefsgroup %}
 <h1 class="title">Groups</h1>
 <div class="main">
  <p>Which groups do you belong to or wish to watch?</p>
  {{form.groups}}
 </div>
{% endbox %}
 <div class="prefsbuttons">
  <input type="submit" value="Save Preferences" />
 </div>
</form>

{% endblock %}
