{% extends "base.html" %}
{% load htmlutils %}
{% block title %}Log in{% endblock %}

{% block content %}
<div class="section">
 <div class="title">Register account</div>
 <div class="body">
  {% if error %}
  {%  errorbox %}
  {{   error }}
  {%  enderrorbox %}
  {% endif %}
  <form method="post" action=".">
   <table id="login_form">
    <tr>
     <td class="label"><label for="id_username">Username:</label></td>
     <td class="field">{{form.username}}</td>
    </tr>
    <tr>
     <td class="label"><label for="id_password1">Password:</label></td>
     <td class="field">{{form.password1}}</td>
    </tr>
    <tr>
     <td class="label"><label for="id_password2">Password (repeat):</label></td>
     <td class="field">{{form.password2}}</td>
    </tr>
    <tr>
     <td class="label"><label for="id_email">E-mail:</label></td>
     <td class="field">{{form.email}}</td>
    </tr>
    <tr>
     <td>&nbsp;</td>
     <td><input type="submit" value="Register" /></td>
    </tr>
   </table>
  </form>
 </div>
</div>
{% endblock %}

