{% extends "base.html" %}
{% load compressed djblets_deco djblets_js i18n %}

{% block title %}{% trans "My Account" %}{% endblock %}

{% block content %}
<div id="account_prefs_page" class="config-forms-container">
{%  box "nav config-forms-side-nav" %}
 <h1 class="title">{{request.user.username}}</h1>
 <div class="main">
  <ul>
{%   for page in pages %}
{%    if page.is_visible %}
   <li><a href="#{{page.page_id}}">{{page.page_title}}</a></li>
{%    endif %}
{%   endfor %}
  </ul>
 </div>
{%  endbox %}

<div class="config-forms-page-content">
{%  if messages %}
 <ul id="messages">
{%   for message in messages %}
  <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
{%   endfor %}
 </ul>
{%  endif %}

{%  for page in pages %}
{%   if page.is_visible %}
 <div class="page" id="page_{{page.page_id}}">
{{page.render|safe}}
 </div>
{%   endif %}
{%  endfor %}
{% endblock content %}

{% block css %}
{{block.super}}
{%  compressed_css "config-forms" %}
{%  for form in forms %}
{%   for css_bundle_name in form.css_bundle_names %}
{%    compressed_css css_bundle_name %}
{%   endfor %}
{%  endfor %}
{% endblock css %}

{% block scripts-post %}
{{block.super}}
{%  compressed_js "config-forms" %}
{%  compressed_js "account-page" %}
{%  for form in forms %}
{%   for js_bundle_name in form.js_bundle_names %}
{%    compressed_js js_bundle_name %}
{%   endfor %}
{%  endfor %}

<script>
    $(document).ready(function() {
        var pageView = new RB.AccountPrefsPageView({
                el: $('#account_prefs_page')
            }),
            formView;

{%  spaceless %}
{%   for form in forms %}
{%    if form.js_view_class %}
        formView = new {{form.js_view_class}}({
{%     for key, value in form.get_js_view_data.items %}
            {{key|json_dumps}}: {{value|json_dumps}},
{%     endfor %}
{%     if form.js_model_class %}
            model: new {{form.js_model_class}}({
{%      for key, value in form.get_js_model_data.items %}
            {{key|json_dumps}}: {{value|json_dumps}}{% if not forloop.last %},{% endif %}
{%      endfor %}
            },
{%     endif %}
            el: $('#form_{{form.form_id}}')
        });
        formView.render()
{%    endif %}
{%   endfor %}
{%  endspaceless %}

        pageView.render();
    });
</script>
{% endblock scripts-post %}
