/* DASHBOARD */

h3 {
  padding-top: 1em;
}

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

#logo {
  padding: 0.5em;
  position: absolute;
}

#branding h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 3.5em;
}

#admin-nav, #admin-subnav {
  background-color: #557ab1;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 5.5em;
  width: 100%;
}

#admin-nav li,
#admin-subnav li {
  display: block;
  float: left;
  line-height: normal;
  margin: 0 10px 0 0;
  padding: 0;
}

#admin-nav li a,
#admin-subnav li a {
  display: block;
  float: left;
  font-size: 110%;
  padding: 4px 8px;
}

#admin-subnav li a {
  border-top: 3px solid #333333;
}

#admin-nav li a:hover,
#admin-subnav li a:hover {
  background-color: #2f5183;
  text-decoration: none;
}

#admin-nav li a.active,
#admin-subnav li a.active {
  color: black;
  background: white url(../images/subnav-bg.png) repeat-x scroll 0 -6px;
}

div.breadcrumbs {
  border-top-width: 0px;
}

#admin-subnav {
  background-color: #333333;
}

.module.manage .count {
  color: #A0A0A0;
  font-size: x-small;
  font-weight: normal;
}

.module.news {
  margin-top: 10px;
  width: 100%;
}

.module caption a, .module caption a:visited {
  color: white;
}

.module caption img {
  vertical-align: bottom;
}

.module caption span.actions {
  float: right;
}

.module caption span.title {
  float: left;
}

.module caption {
  width: 100%;
}

.module table {
  width: 100%;
}

.module th {
  white-space: nowrap;
}


/***************************************************************************
 * Change form
 ***************************************************************************/
#ssh-public-key-popup {
  display: none;
}

#ssh-public-key-popup textarea {
  background: #FFFDC9;
  border: 0;
  margin: 0;
  padding: 0;
}

.change-form h1 {
  margin-bottom: 0.5em;
}

.change-form fieldset {
  margin: 1em 0;
}

.confirmation {
  border: 1px solid #FFBD09;
  color: black;
  display: block;
  margin: 1em 0;
  padding: 0 1em;
  background: #FFFDC9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.confirmation p {
  margin: 1em 0;
}

.confirmation a,
.confirmation a:visited {
  color: blue;
}

.confirmation li {
  font-size: 12px;
  line-height: 16px;
}

.confirmation .form-row {
  border: 0;
}

.confirmation label {
  color: #222222 !important;
}

.confirmation .cert-info {
  margin: 2em 0;
}

.confirmation .cert-info h3 {
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 1em;
}

.confirmation .cert-info label {
  display: block;
  float: left;
  font-weight: bold !important;
  margin-left: 2em;
  width: 9em;
}

.public-key {
  font-family: monospace;
}


/***************************************************************************
 * Django Admin overrides
 ***************************************************************************/
table thead th.ascending a {
  background: transparent url("../../djblets/images/datagrid/sort_asc_primary.png") no-repeat right 0.4em;
}

thead th, tfoot td {
  background: transparent url("../../djblets/images/datagrid/header_bg.png") repeat-x;
  padding: 5px;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid #999999;
  border-left: 0 !important;
}

thead th a:link, thead th a:visited {
  color: black;
}

#branding h1 {
  color: #EEEEEE;
}

.dashboard .colMS {
  margin-right: 25em !important;
}

.dashboard #content-related {
  margin-right: -25em;
  width: 24em;
}

#content-related .module h2 {
  background: #5988bb;
  color: white;
}

#header {
  background-color: #2f5183;
}

#log-entries pre {
  margin: 0;
  padding: 0;
}

#log-entries td {
  color: black;
}

#log-entries .level-debug.row1 {
  background-color: #d5d5d5;
}

#log-entries .level-debug.row2 {
  background-color: #e5e5e5;
}

#log-entries .level-info.row1 {
  background-color: #eef4ff;
}

#log-entries .level-info.row2 {
  background-color: #f5f8fc;
}

#log-entries .level-warning.row1 {
  background-color: #fffaa9;
}

#log-entries .level-warning.row2 {
  background-color: #fffdbe;
}

#log-entries .level-error.row1 {
  background-color: #ffe493;
}

#log-entries .level-error.row2 {
  background-color: #ffeba9;
}

#log-entries .level-critical.row1 {
  background-color: #f4bcab;
}

#log-entries .level-critical.row2 {
  background-color: #f6c8ba;
}

.dashboard #content {
  width: auto;
}

.module h2, .module caption {
  background: #5988bb;
}

.module {
  border-color: #C0C0C0;
}

.row1 {
  background: #F2F2F2;
}

td, th {
  border-bottom: 0;
}

/* Override the way links and wrapping work in modules. */
.module.news table td {
  white-space: normal !important;
  padding: 0;
}

.module.news table td a {
  display: inline;
  padding: 0;
}

.module.news .entry-title {
  padding-top: 0.4em;
  padding-bottom: 0.8em;
}

.module.news .entry-content {
  margin-left: 1.2em;
}

.module.news .loading-indicator {
  padding: 4px;
}

.module.news .feed-error {
  margin: 0;
  padding: 4px;
}
