/* DASHBOARD */

h3 {
  padding-top: 1em;
}

.dashboard .module table th {
  width: 100%;
}

.dashboard .module table td {
  white-space: nowrap;
}

.dashboard .module table td a {
  display: block;
  padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
  margin-left: 0;
}

ul.actionlist li {
  list-style-type: none;
}

.module.manage .count {
  color: #A0A0A0;
  font-size: x-small;
  font-weight: normal;
}

.module.news {
  margin-top: 10px;
  width: 100%;
}

.module caption a, .module caption a:visited {
  color: white;
}

.module caption img {
  vertical-align: bottom;
}

.module caption span.actions {
  float: right;
}

.module table {
  width: 100%;
}

.module th {
  white-space: nowrap;
}

.module .actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.module .actions ul li {
  margin-right: 2em;
  display: inline;
}


/***************************************************************************
* Change form
***************************************************************************/
#ssh-public-key-popup {
  display: none;
}

#ssh-public-key-popup textarea {
  background: #FFFDC9;
  border: 0;
  margin: 0;
  padding: 0;
}

.change-form h1 {
  margin-bottom: 0.5em;
}

.change-form fieldset {
  margin: 1em 0;
}

.confirmation {
  border: 1px solid #FFBD09;
  color: black;
  display: block;
  margin: 1em 0;
  padding: 0 1em;
  background: #FFFDC9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.confirmation p {
  margin: 1em 0;
}

.confirmation a,
.confirmation a:visited {
  color: blue;
}

.confirmation li {
  font-size: 12px;
  line-height: 16px;
}

.confirmation .form-row {
  border: 0;
}

.confirmation label {
  color: #222222 !important;
}

.confirmation .cert-info {
  margin: 2em 0;
}

.confirmation .cert-info h3 {
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 1em;
}

.confirmation .cert-info label {
  display: block;
  float: left;
  font-weight: bold !important;
  margin-left: 2em;
  width: 9em;
}

.public-key {
  font-family: monospace;
}

#content-main form {
  clear: both;
}

form #result_list th {
  text-align: left;
}

/***************************************************************************
* Django Admin overrides
***************************************************************************/
table thead th.ascending a {
  background: transparent url("../../djblets/images/datagrid/sort_asc_primary.png") no-repeat right 0.4em;
}

thead th, tfoot td {
  background: transparent url("../../djblets/images/datagrid/header_bg.png") repeat-x;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid #999999;
  border-left: 0 !important;
  padding: 5px;
}

.module table tr {
  border-bottom: 1px solid #F5F5F5;
}

thead th a:link, thead th a:visited {
  color: black;
}

#logo {
  display: inline;
  padding: 0;
  position: relative;
  vertical-align: middle;
}

#branding {
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  margin: 40px 0 10px 0;
}

#branding h1 {
  display: inline;
  padding: 0.4em 0.7em 0.5em 0;
  vertical-align: middle;
}

#branding h1 a, #branding a:link, #branding a:visited {
  color: #000000;
  font-size: 24pt;
  text-decoration: none;
}

#user-tools {
  border-bottom: 1px solid #DDDDDD;
  color: #000000;
  margin: 0;
  padding: 5px 15px 5px 0;
  width: 100%;
}

#navbar-outer {
  margin: 0 9px;
  width: auto;
}

#navbar ul, #navbar {
  background: url("../images/admin/yellow_bg_small.png") repeat-x #F9F2C9;
  overflow: hidden;
  padding: 0;
}

#navbar ul {
  float: left;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
  height: auto;
  margin: 0;
}

#navbar ul a {
  display: block;
  float: left;
  margin: 0 10px 0 9px;
  padding: 9px;
}

#navbar a.nav-first {
  margin-left: 0;
}

#navbar a:link,
#navbar a:visited {
  color: #3B3B3B;
}

#navbar a.nav-active:visited,
#navbar a.nav-active:link {
  background: #5988BB;
  color: #FFF;
}

#header #user-tools a {
  color: #0000EE;
}

#title .version {
  color: #808080;
  font-size: 12pt;
  font-weight: normal;
  padding-left: 5px;
}

#admin-nav li,
#admin-subnav li {
  display: block;
  float: left;
  line-height: normal;
  margin: 0 10px 0 0;
  padding: 0;
}

#admin-nav li a,
#admin-subnav li a {
  display: block;
  float: left;
  font-size: 110%;
  padding: 4px 8px;
}

#admin-subnav li a {
  padding-top: 7px;
  border-bottom: 3px solid #5988BB;
}

#admin-nav li a:hover,
#admin-subnav li a:hover {
  border-bottom: 3px solid #2f5183;
  text-decoration: none;
}

#admin-nav li a.active,
#admin-subnav li a.active {
  border-bottom: 3px solid #2f5183;
}

div.breadcrumbs {
  background: none;
  border: none;
  border-bottom: 1px solid #F5F5F5;
  margin: 0 10px;
  padding: 5px 10px;
}

#admin-subnav-outer {
  background-color: #5988BB;
  border: 1px solid #E0E0E0;
  border-top: none;
  margin: -2px 9px 0 9px;
  overflow: hidden;
}

#admin-subnav {
  border: 1px solid #3465A4;
  border-top: none;
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
}

#searchbar {
  position: relative;
  margin: 0;
}

#header {
  background-color: #FFFFFF;
  color: #5988bb;
}

#content {
  margin: 10px;
}

#content h1 {
  border-bottom: 1px solid #728EAC;
  color: #000000;
  font-size: 11px;
  font-weight: 400;
  margin: 0 0 10px 0;
  padding: 5px 10px 5px 5px;
  text-transform: uppercase;
}

#branding h1 {
  color: #EEEEEE;
}

#content.colM, .flex {
 margin-left: 255px !important;
}

.dashboard .colMS {
  margin-right: 25em !important;
  margin-left: 250px !important;
}

.dashboard #content-related {
  margin-right: -24em;
  width: 23em;
}

#content-related .module h2 {
  background: #5988bb;
  color: #FFF;
}

#back-to-rb {
  background: url("../images/title_box_top_bg.png") repeat #C6DCF3;
  border-left: 1px solid #89867F;
  float: right;
  height: 22px;
  padding: 10px 10px 0 10px;
  text-align: center;
  width: 190px;
}

#back-to-rb a:visited,
#back-to-rb a:link {
  color: #3B3B3B;
  display: block;
}

#log-entries pre {
  margin: 0;
  padding: 0;
}

#log-entries td {
 color: black;
}

#log-entries .level-debug.row1 {
  background-color: #d5d5d5;
}

#log-entries .level-debug.row2 {
  background-color: #e5e5e5;
}

#log-entries .level-info.row1 {
  background-color: #eef4ff;
}

#log-entries .level-info.row2 {
  background-color: #f5f8fc;
}

#log-entries .level-warning.row1 {
  background-color: #fffaa9;
}

#log-entries .level-warning.row2 {
  background-color: #fffdbe;
}

#log-entries .level-error.row1 {
  background-color: #ffe493;
}

#log-entries .level-error.row2 {
  background-color: #ffeba9;
}

#log-entries .level-critical.row1 {
  background-color: #f4bcab;
}

#log-entries .level-critical.row2 {
  background-color: #f6c8ba;
}

.dashboard #content {
  width: auto;
  margin: 9px;
}

.module {
  overflow: hidden;
}

.module h2, .module caption, #content-related .module h2 {
  background: url("../images/title_box_top_bg.png") repeat-x scroll left top #A2BEDC;
  border-bottom: 1px solid #728EAC;
  color: #000;
  font-size: 120%;
  margin: 0;
  padding: 5px 10px 5px 5px;
}

.module {
  border-color: #C0C0C0;
}

.row1 {
  background: #F2F2F2;
}

td, th {
  border-bottom: 0;
}

.login #container {
  width: 30em !important;
}

.login #title span {
  display: block;
}

.object-tools {
  margin: 0 0 10px 0;
}

ul.messagelist {
  margin: 12px;
  padding: 5px 0;
}

.popup #content.colM, .popup .flex, .login #content.colM {
  margin-left: 20px !important;
}

.login #rbinfo {
  text-align: center;
  padding-left: 0;
}

#recent-actions-module ul {
  padding: 0;
}

#recent-actions-module li {
  background-position: 15px 15px;
  border-bottom: 1px solid #F5F5F5;
  padding: 5px 20px 5px 40px;
}

/* Override the way links and wrapping work in modules. */
.module.news table td {
  padding: 0;
  white-space: normal !important;
}

.module.news table td a {
  display: inline;
  padding: 0;
}

.module.news .entry-title {
  padding: 0.4em 0 0.8em 0;
}

.module.news .entry-content {
  margin-left: 1.2em;
}

.module.news .loading-indicator {
  padding: 4px;
}

.module.news .feed-error {
  margin: 0;
  padding: 4px;
}

.extensions {
  border: 1px #AAAAAA solid;
  border-top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.extension {
  border-top: 1px #AAAAAA solid;
  list-style: none;
  padding: 1em;
  position: relative;
}

.extension h1 {
  font-size: 120%;
}

.extension h1 .version {
  font-weight: normal;
}

.extension .description {
  margin: 0 0 0 1em;
  padding: 0;
}

.extension .object-tools {
  margin: 0;
  position: absolute;
  right: 1em;
  top: 1em;
}

.extension .object-tools li {
  background: #999999;
  border: 1px #999999 solid;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: auto;
  margin-left: 1em;
  padding: 0;
}

.extension .object-tools li a {
  background: none;
  display: block;
  height: 1em;
  line-height: 1em;
  margin: 0;
  padding: 0.5em 1em;
}
