body {
  background-color: white;
  color: black;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10pt;
}

img {
  border: 0;
}

form th {
  text-align: right;
  vertical-align: top;
}

label.required {
  font-weight: bold;
}

pre {
  font-size: 10pt;
}

span.draftlabel {
  color: #008000;
}

td.help {
  font-size: 10px;
  color: #333;
  padding-top: 0;
}

ul.errorlist {
  color: #DD0000;
  display: inline;
  font-weight: bold;
  margin: 0 0 0 15px;
  padding: 4px 8px;
}

ul.errorlist li {
  display: inline;
}

.loading img {
  margin-right: 4px;
  vertical-align: text-bottom;
}

textarea {
  resize: none;
}

/****************************************************************************
 * Banners
 ****************************************************************************/
.banner {
  background: #cdff9c;
  border: 1px #4e9a06 solid;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.banner h1 {
  display: inline;
  margin-right: 0.2em;
  padding: 0;
}

.banner input {
  margin-left: 10px;
}


/****************************************************************************
 * Box classes
 ****************************************************************************/
.box, .modalbox {
  background-color: white;
  background-image: url('../images/box_top_bg.png');
  background-position: top left;
  background-repeat: repeat-x;
  border: 1px #888A85 solid;
}

.box.important {
  background-color: #fdf2a0;
  background-image: url('../images/gold_box_top_bg.png');
  border: 1px #b7a93e solid;
  padding: 0px 10px;
}

.box.important .box-inner {
  background: url("../images/important.png") no-repeat top left;
  padding: 0 0 0 50px;
}

.box.tip {
  background-color: #fdf2a0;
  background-image: url('../images/gold_box_top_bg.png');
  border: 1px #b7a93e solid;
  padding: 0px 10px;
}

.box.tip .box-inner {
  background: transparent;
}

.box.tip h1 {
  padding-left: 0;
}

.box.yay {
  background-color: #fdf2a0;
  background-image: url('../images/gold_box_top_bg.png');
  border: 1px #b7a93e solid;
  padding: 0px 10px;
}

.box.yay .box-inner {
  background: transparent;
}

.box.yay h1 {
  padding-left: 0;
}

.box.yay img {
  float: left;
  left: -5px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -23px;
}

.box .star {
  cursor: pointer;
}

.box h1.title,
.modalbox-title {
  background: #a2bedc url('../images/title_box_top_bg.png') repeat-x top left;
  border-bottom: 1px #728eac solid;
  margin: 0;
  padding: 5px 10px 5px 5px;
  font-size: 120%;
}

.box .main {
  padding: 5px;
}

.box-container {
  border: 1px #DCDCDC solid;
  margin-bottom: 10px;
  width: 100%;
}

.box-inner,
.modalbox-inner {
  background-image: url('../images/box_bottom_bg.png');
  background-position: bottom left;
  background-repeat: repeat-x;
  padding-bottom: 1px; /* IE wants this and it does no harm. */
}

.box-inner form {
  margin: 0;
}

.datagrid-title,
.datagrid-titlebox {
  background: #a2bedc url('../images/title_box_top_bg.png') repeat-x top left;
}

.datagrid .shipit-count {
  background-image: url("../images/shipit_bg.png");
  background-position: top left;
  background-repeat: repeat-x;
  background-color: #6bc810;
  border: 1px #478a06 solid;
  display: block;
  color: white;
  font-weight: bold;
  padding: 0.05em 0.5em;
  white-space: nowrap;
  -moz-border-radius: 10px;
  -webkit-border-radius: 8px; /* WebKit bug */
  border-radius: 10px;
}

.server-error-box .response-data {
  margin-top: 2em;
}


/****************************************************************************
 * Modal Boxes
 ****************************************************************************/
.modalbox {
  margin: 10px;
}

.modalbox-contents {
  margin: 10px;
  position: relative; /* Makes this the offsetParent for calculations. */
}

.modalbox-buttons {
  position: absolute;
  margin: 10px;
  text-align: right;
  bottom: 0;
  right: 0;
}

.modalbox-buttons input {
  margin-left: 10px;
}


/****************************************************************************
 * Inline editor forms
 ****************************************************************************/
.editicon {
  margin-left: 4px;
}

.editicon img {
  vertical-align: bottom;
}

.inline-editor-form {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.inline-editor-form input[type="submit"] {
  margin-left: 5px;
}

.inline-editor-form input[type="text"] {
  border: 1px #888a85 solid;
  padding: 1px 2px;
}

.inline-editor-form textarea {
  border: 1px #888a85 solid;
  font-size: 10pt;
  margin: 5px 0 0 0;
  padding: 10px;
}

.loading-indicator {
  display: inline;
}


/****************************************************************************
 * Forms
 ****************************************************************************/
form table td {
  padding: 8px 8px 4px 4px;
}

form table td.label {
  text-align: right;
  font-weight: bold;
}

.formdlg tr {
  padding-top: 4px;
}

.formdlg td.label {
  white-space: nowrap;
}

.formdlg .error {
  color: #DD0000;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 4px 8px;
}

.formdlg ul.errorlist {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.formdlg .errorlist li {
  display: list-item;
  padding: 2px 4px;
}

.formdlg .spinner {
  float: left;
}

.formdlg .spinner img {
  vertical-align: top;
}

.formdlg .spinner h1 {
  display: inline;
  margin-left: 10px;
}


/****************************************************************************
 * Account page
 ****************************************************************************/
.prefsbuttons {
  padding: 8px;
  background-color: #B6CCE3;
  border: 1px #3465A4 solid;
}

.prefsgroup ul {
  list-style: none;
  padding-left: 0;
  margin: 5px;
}

.section {
  margin-bottom: 20px;
}

.section .title {
  background: #DDDDDD;
  border: 1px black solid;
  padding: 4px 8px;
}

.section .body {
  margin-left: 20px;
  padding: 10px;
}

#accountnav {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  text-align: right;
  position: relative;
  z-index: 1;
  border-bottom: 1px #DDDDDD solid;
}

#accountnav li {
  display: inline;
}

#activity-indicator {
  position: fixed;
  top: 0;
  left: 50%;
  text-align: center;
  font-weight: bold;
  background-color: #fce94f;
  background-image: url("../images/spinner.gif");
  background-position: 0.4em 0.4em;
  background-repeat: no-repeat;
  border: 1px #c4a000 solid;
  border-top: 0;
  margin-left: -3em;
  padding: 0.5em 0.6em 0.5em 2.2em;
  width: 6em;
  z-index: 20000;
}

#activity-indicator.error {
  background-color: #ffcd9c;
  width: 28em;
  margin-left: -14em;
  background-image: none;
  padding-left: 0.6em;
}

#activity-indicator.error a {
  margin-left: 1em;
  color: #0000CC;
  text-decoration: none;
}

#error div {
  background: #ffcd9c;
  border: 1px #9a4306 solid;
  margin-bottom: 10px;
  padding: 8px 10px;
}

#error h1 {
  display: inline;
  margin: 0;
  padding: 0;
}

#error input[type='submit'] {
  margin-left: 10px;
}

#navbar-outer {
  border: 1px #E0E0E0 solid;
  margin: 10px 0;
  width: 100%;
}

#navbar {
  background-color: #C6DCF3;
  border: 1px #3465A4 solid;
  list-style: none;
  margin: 0;
  padding: 9px 6px;
}

#navbar li {
  display: inline;
  height: 30px;
  margin-right: 14px;
}

#navbar a {
  color: #0000AA;
  font-size: 110%;
  font-weight: bold;
  text-decoration: none;
}

#page-container {
  padding: 0 0.8em 0.8em 0.8em;
}

#rbinfo {
  position: relative;
  padding-left: 0.8em;
}

#rbinfo img {
  display: inline;
  vertical-align: middle;
}

#searchbar {
  position: absolute;
  right: 0;
  margin-top: -3px;
}

#navbar .newreviewrequest {
  text-align: right;
}

#title {
  display: inline;
  vertical-align: middle;
  font-size: 24pt;
  font-weight: normal;
}

#title a {
  color: black;
  text-decoration: none;
}

#title .version {
  color: #808080;
  font-size: 12pt;
  font-weight: normal;
}


/****************************************************************************
 * User page hover
 ****************************************************************************/

.user-infobox {
  background: #F9F9F9;
  border: 1px black solid;
  bottom: 2em;
  display: block;
  height: 12em;
  left: -2em;
  padding: 1em;
  position: absolute;
  width: 30em;
  z-index: 25;
  -moz-border-radius: 10px;
  -webkit-border-radius: 8px; /* WebKit bug */
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}

.user-infobox.loading {
  background-image: url("../images/spinner.gif");
  background-position: 1em 1em;
  background-repeat: no-repeat;
}

.user-infobox .infobox-pic {
  float: left;
  width: 85px;
  margin-right: 1em;
}

.user-infobox .infobox-text {
  color: black;
  float: left;
}

.user-infobox p {
  font-size: 1.2em;
  margin: 0.5em 0;
  padding: 0;
}

.user-infobox h2 {
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.user-infobox .logged-in {
  margin-top: 2em;
}

.user-infobox .logged-in, .user-infobox .joined {
  font-size: 0.8em;
}

.user-infobox #infobox-text h2 {
  margin-top: 0;
  padding-top: 0;
}

#submitter {
  position: relative;
}


/*
 * clearfix hack. See http://www.webtoolkit.info/css-clearfix.html
 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
