/****************************************************************************
 * Dashboard
 ****************************************************************************/
#dashboard-main {
  border-left: 1px black solid;
  vertical-align: top;
  margin-left: 18em;
  background-color: white;
}

#dashboard-main table:after {
  clear: both;
}

#dashboard-main .main {
  padding: 0;
}

#dashboard-main .repository-column {
  white-space: nowrap;
}

#dashboard-navbar {
  float: left;
  width: 18em;
}

#dashboard-navbar td {
  padding: 5px 8px;
}

#dashboard-navbar .selected {
  border-top: 1px #999999 solid;
  border-bottom: 1px #999999 solid;
}

#dashboard-navbar .selected td {
  background: #D0D0D0;
}

#dashboard-navbar .main-item {
  font-weight: bold;
}

#dashboard-navbar .header {
  font-weight: bold;
  padding-top: 15px;
}

#dashboard-navbar .sub-item {
  padding-left: 25px;
}

#dashboard-navbar tr,
#dashboard-wrapper {
  background-color: #E9E9E9;
}

#dashboard-navbar tr.selected {
  background: #b2ceec;
}

#dashboard-navbar td img {
  vertical-align: bottom;
}

#dashboard-navbar tbody td {
  font-size: 0.9em;
}

#dashboard-navbar tbody td label {
  color: #575012;
  font-weight: bold;
}
