body > ul > li small {
  color: gray;
  font-weight: normal;
}

#login input {
  padding-left: 75px;
}

#reviewrequest .summary {
  border-bottom: 1px solid #999999;
  padding: 12px 10px;
  text-align: left;
}

#reviewrequest h3 {
  font-size: 14px;
  margin: 0;
  padding: 0 0 5px 0;
}

#reviewrequest > fieldset {
  font-size: 12px;
}

#reviewrequest .row {
  border: 0;
  line-height: 20px;
  min-height: 20px;
  padding: 2px 0;
}

#reviewrequest .descriptionRow {
  border-top: 1px solid #999999;
}

#reviewrequest .row > label {
  line-height: inherit;
  text-align: right;
  vertical-align: top;
  width: 65px;
  color: #666666;
}

#reviewrequest .row > div {
  text-align: left;
  padding: 0 10px 0 85px;
}

#reviewrequest .controls .whiteButton {
  float: left;
  font-size: 12px;
  margin-bottom: 20px;
  width: 100px;
}

#reviewrequest .controls .whiteButton:first-child {
  margin-right: 10px;
}

#reviewrequest > h2 {
  clear: both;
}

.review .body {
  padding: 12px 10px;
  text-align: left;
}

.review .reply-comments {
  margin: 20px 0 0 0;
  padding: 0;
}

.review .reply-comments .reply-comment {
  display: inline;
}

.review .reply-comments .reply-comment dd {
  margin-left: 10px;
}

.review .reply-comments .reply-comment dl {
  border-left: 2px #D0D0D0 solid;
  margin: 0px;
  padding: 5px;
}

.review .reply-comments .reply-comment dt a {
  color: #AB5603;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.review .reply-comments .reply-comment dt .timestamp {
  display: block;
}

.review .reply-comments .reply-comment.draft dt a {
  color: #4e9a06;
}

.review .reply-comments .reply-comment dt span {
  color: #487858;
  font-weight: normal;
}

.review .controls {
  display: none;
}

table.sidebyside {
  background: white;
  border: 1px #C0C0C0 solid;
  border-collapse: collapse;
  margin: 2px;
  padding: 2px;
}

table.sidebyside col.left {
  border-right: 1px #C0C0C0 solid;
  width: 50%;
}

table.sidebyside col.line {
  border-right: 1px #C0C0C0 solid;
}

table.sidebyside col.right {
  width: 50%;
}

table.sidebyside .filename {
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0;
  padding: 0;
}

table.sidebyside td {
  min-width: 20px;
}

table.sidebyside pre {
  font-size: 10px;
  line-height: default;
  margin: 0;
  padding: 0;
  white-space: default;
}

table.sidebyside thead th {
  background: #F0F0F0;
  border-bottom: 1px #C0C0C0 solid;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  text-align: left;
  text-overflow: ellipsis;
}

table.sidebyside tbody th {
  background: #F0F0F0;
  font-size: 10px;
  text-align: right;
  vertical-align: top;
}

table.sidebyside tr.first td,
table.sidebyside tr.first th {
  border-top: 1px #D0D0D0 solid;
}

table.sidebyside tr.last td,
table.sidebyside tr.last th {
  border-bottom: 1px #D0D0D0 solid;
}

table.sidebyside tbody.binary td {
  background: #dbebff;
  padding: 4px;
}

table.sidebyside tbody.collapsed a {
  text-decoration: underline;
  color: black;
}

table.sidebyside tbody.collapsed td {
  background: #e4d9cb;
  font-size: x-small;
  text-align: center;
}

table.sidebyside tbody.collapsed th {
  background: #e4d9cb;
}

table.sidebyside tbody.delete {
  background: #ffc5ce;
}

table.sidebyside tbody.delete th {
  background: #ffc5ce;
}

table.sidebyside tbody.delete tr.selected * {
  background: #dfb1b1;
}

table.sidebyside tbody.insert {
  background: #c5ffc4;
}

table.sidebyside tbody.insert th {
  background: #c5ffc4;
}

table.sidebyside tbody.insert tr.selected * {
  background: #9ae298;
}

table.sidebyside tbody.replace {
  background: #fdfebc;
}

table.sidebyside tbody.replace th {
  background: #fdfebc;
}

table.sidebyside tbody.replace tr.selected * {
  background: #e2e179;
}

table.sidebyside tbody.replace .hl {
  background: #eff23d;
}

.shipit {
  display: inline;
  color: #006000;
}

.dialog > fieldset > label {
  font-size: 12px;
}

.dialog > fieldset > .error {
  color: #770000;
  margin-top: 8px;
  text-align: left;
}
