/****************************************************************************
 * New Review Request
 ****************************************************************************/
.new-review-request {
  background-color: #fefadf;
  background-image: url('../images/review_request_box_top_bg.png');
}

.new-review-request label {
  color: #575012;
  font-weight: bold;
}

.new-review-request tr {
  padding-top: 4px;
}

.new-review-request .box-inner {
  background-image: url('../images/review_request_box_bottom_bg.png');
}


/****************************************************************************
 * Review Request Box
 ****************************************************************************/
.inline-editor-form.summary-editor {
  margin-top: -2px;
  margin-left: -3px;
}

.inline-editor-form .buttons input[type='button'] {
  margin-left: 0px;
  margin-right: 6px;
}

.inline-editor-form textarea + .buttons {
  margin-top: 6px;
}

.inline-editor-form input[type] + .buttons {
  padding-left: 6px;
}

.review-request {
  background-color: #fefadf;
  background-image: url('../images/review_request_box_top_bg.png');
}

.review-request label {
  color: #575012;
  font-weight: bold;
}

.review-request noscript form {
  margin: 10px 5px 5px 5px;
  text-align: right;
}

.review-request textarea {
  border: 1px #b8b5a0 solid;
  height: 1.5em;
  overflow: hidden;
}

.review-request .box-inner {
  background-image: url('../images/review_request_box_bottom_bg.png');
}

.review-request .content {
  margin: 5px;
  padding: 0;
}

.review-request .content.sliding {
  margin-top: -5px;
}

.review-request .content img {
  border: none;
}

.review-request .content label {
  display: block;
  margin-top: 20px;
  min-height: 15px;;
}

.review-request .content label img {
  vertical-align: middle;
}

.review-request .content pre {
  background-color: #FFFFFF;
  border: 1px #b8b5a0 solid;
  margin: 5px 0 0 0;
  padding: 10px;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.review-request .controls {
  list-style: none;
  margin: 0;
  padding: 0px 8px 4px 8px;
  text-align: right;
}

.review-request .controls a {
  color: black;
  text-decoration: none;
}

.review-request .controls a:hover {
  color: #0000C0;
}

.review-request .controls img {
  vertical-align: bottom;
}

.review-request .controls li {
  display: inline;
  padding-left: 8px;
}

.review-request .header {
  margin: 5px;
}

.review-request .star {
  float: left;
  margin-right: 10px;
}

.review-request #details {
  border-bottom: 1px #c2c1b0 solid;
  border-spacing: 8px;
  border-top: 1px #c2c1b0 solid;
  margin-top: 5px;
  padding: 5px 0px;
  width: 100%;
}

.review-request #details .caption {
  color: #39350b;
  font-weight: bold;
  white-space: nowrap;
}

.review-request #details .indented {
  padding-left: 20px;
}

.review-request #details .label {
  text-align: right;
  white-space: nowrap;
}

.review-request #details #target_people .inactive {
  text-decoration: line-through;
}

.review-request #details #review-request-warning {
  background-color: #F5A9A9;
  border: 1px solid #FF0000;
  display: none;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.review-request #diff_revision {
  font-weight: bold;
  text-align: right;
  vertical-align: bottom;
}

.review-request #status {
  color: #39350b;
  margin: 5px 0;
}

.review-request #summary {
  display: inline;
  font-size: 130%;
}

.review-request #summary a {
  color: black;
}

.review-request #summary_wrapper {
  margin-right: 10em;
  padding: 0px;
}

.review-request #summary_wrapper label {
  font-size: 130%;
}

.review-request #actions {
  border-right: 1px #000000 solid;
  float: right;
  list-style: none;
  margin: -1px -1px 0 0;
  padding: 0px;
  white-space: nowrap;
}

.review-request #actions a {
  color: black;
  cursor: pointer;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

.review-request #actions img {
  vertical-align: middle;
}

.review-request #actions li {
  background: #dfb16a url("../images/review_request_action_bg.png") repeat-x top left;
  border: 1px black solid;
  border-right: 0;
  float: left;
}

.review-request #actions li:hover {
  background-color: #e8c896;
  background-image: url("../images/review_request_action_bg_hover.png");
}

.review-request #actions li:active {
  background-color: #e8c894;
  background-image: url("../images/review_request_action_bg_clicked.png");
}

.review-request #actions>li:first-child {
  -moz-border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
}

.review-request #actions li.primary {
  background-color: #e7c591;
  background-image: url("../images/review_request_action_primary_bg.png");
}

.review-request #actions li.primary:hover {
  background-color: #eed6b1;
  background-image: url("../images/review_request_action_primary_bg_hover.png");
}

.review-request #actions li.primary:active {
  background-color: #eed6af;
  background-image: url("../images/review_request_action_primary_bg_clicked.png");
}

.review-request #actions ul.menu {
  background: #dfb16a url("../images/review_request_action_bg.png") repeat-x top left;
  border: 1px black solid;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.review-request #actions ul.menu li {
  background: none;
  border: 0;
  float: none;
  margin: 0;
  padding: 0;
}

.review-request #actions ul.menu li a {
  color: black;
  display: block;
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
}

.review-request #actions ul.menu a:hover {
  background-color: #c79343;
}

.review-request #updated_time,
.review-request #created_time {
  text-align: right;
  vertical-align: bottom;
}

#review_request_form input[type='text'],
#review_request_form textarea {
  width: 400px;
}


/****************************************************************************
 * Reviews
 ****************************************************************************/

.box .collapse-button {
  background: url('../images/collapse.png') no-repeat;
  float: left;
  height: 15px;
  padding-right: 5px;
  width: 15px;
}

.box.collapsed .collapse-button {
  background: url('../images/expand.png') no-repeat;
}

.box.collapsed .body {
  display: none;
}

.review {
  background-color: #e9edf5;
  background-image: url('../images/review_box_top_bg.png');
}

.review .body {
  background-color: #FAFAFA;
  border: 1px #AAAAAA solid;
  clear: both;
  margin: 5px;
  padding: 10px;
}

.main .collapsed {
  display: none;
}

.review .body pre {
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.review .body .body_top,
.review .body .body_bottom {
  margin: 0px;
}

.review .box-inner {
  background-image: url('../images/review_box_bottom_bg.png') !important;
}

.review .controls {
  list-style: none;
  margin: 0;
  padding: 0px 8px 4px 8px;
  text-align: right;
}

.review .controls li {
  display: inline;
}

.review .controls a {
  text-decoration: none;
}

.review .comments {
  border: 0;
}

.review .diff-comments dd {
  margin-bottom: 20px;
}

.review .diff-comments dt thead th {
  font-weight: normal;
}

.review .diff-comments .filename a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.review .diff-comments .screenshot {
  background: #F0F0F0;
  border: 1px #C0C0C0 solid;
  font-size: 120%;
}

.review .diff-comments .screenshot .filename {
  display: block;
  margin: 0;
  padding: 5px 10px;
}

.review .diff-comments .screenshot img {
  padding: 5px;
}

.review .header {
  padding: 2px 4px;
}

.review .header a {
  color: black;
  text-decoration: none;
}

.sidebyside.loading {
  /* Helps us better keep the size, as long as the comment is within a chunk. */
  padding: 2px 2px 1px 2px;
  width: 100%;
}

.sidebyside.loading tbody {
  background: #F3F3F3 url("../images/spinner.gif") no-repeat center center;
}

.sidebyside.loading tbody th {
  background: transparent;
}

.review .reviewer {
  float: left;
  font-weight: bold;
}

.review .reviewer a {
  position: relative;
}

.review .posted_time {
  text-align: right;
}

.review .reply-comments {
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.review .reply-comments .reply-comment {
  display: inline;
}

.review .reply-comments .reply-comment dd {
  margin-left: 10px;
}

.review .reply-comments .reply-comment dl {
  border-left: 2px #D0D0D0 solid;

  /*
   * Set a border-bottom to prevent a bug in IE where, without a border-bottom,
   * the content of the dl will shift left by the border-left size for every
   * following item.
   */
  border-bottom: 1px #FAFAFA solid;
  margin: 0px;
  padding: 5px;
}

.review .reply-comments .reply-comment dt label a {
  color: #AB5603;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.review .reply-comments .reply-comment.draft dt label a {
  color: #4e9a06;
}

.review .reply-comments .reply-comment dt span {
  color: #487858;
  font-weight: normal;
}

.review .shipit {
  background: #aeff60;
  border: 1px #888888 solid;
  font-weight: bold;
  left: -10px;
  margin-bottom: 8px;
  padding: 4px 8px;
  position: relative;
  width: 4.5em;
  top: -8px;
}


/****************************************************************************
 * Change Descriptions
 ****************************************************************************/
#changedescription {
  background-color: #FFFFFF;
  border: 1px #b8b5a0 solid;
  margin: 5px 0 0 0;
  padding: 10px;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.changedesc {
  background-color: #fefadf;
  background-image: url('../images/review_request_box_top_bg.png');
}

.changedesc .body {
  background-color: #FAFAFA;
  border: 1px #AAAAAA solid;
  clear: both;
  margin: 5px;
  padding: 10px;
}

.changedesc .body li pre {
  border: 1px #b8b5a0 solid;
  padding: 10px;
  font-size: 9pt;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.changedesc .body pre {
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.changedesc .box-inner {
  background-image: url('../images/review_request_box_bottom_bg.png') !important;
}

.changedesc .header {
  padding: 2px 4px;
}

.changedesc .header a {
  color: black;
  text-decoration: none;
}

.changedesc .header b {
  float: left;
  font-weight: bold;
}

.changedesc .header .posted_time {
  text-align: right;
}

.changedesc label {
  color: #575012;
  font-weight: bold;
}

.changedesc ul {
  padding-left: 2em;
  margin-bottom: 10px;
}


/****************************************************************************
 * Updates Bubble
 ****************************************************************************/

#updates-bubble {
  background: #FFF1AB;
  border: 1px #666666 solid;
  bottom: 1px;
  font-size: 110%;
  padding: 0.8em;
  position: fixed;
  right: 1px;
}

#updates-bubble a,
#updates-bubble a:visited {
  color: #0000CC;
  text-decoration: none;
}

#updates-bubble-buttons {
  margin-left: 2em;
}



/****************************************************************************
 * Review Form
 ****************************************************************************/
#review-form {
  overflow: auto;
  padding: 10px;
}

#review-form pre.editable {
  background-color: #FFFFFF;
  border: 1px #b8b5a0 solid;
  margin: 10px 0;
  padding: 10px;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

#review-form textarea {
  border: 1px #b8b5a0 solid;
  height: 1.5em;
  overflow: hidden;
  width: 100%;
}

#review-form label {
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

#review-form-comments {
  background: none;
}


/****************************************************************************
 * Screenshots
 ****************************************************************************/
.screenshot-caption {
  background-color: #F6F6F6;
  border: 1px #999999 solid;
  border-top: 1px #CCCCCC solid;
  padding: 2px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.screenshot-caption img {
  vertical-align: bottom;
}

.screenshot-container {
  background: white;
  float: left;
  display: inline;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 400px;
  min-width: 130px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.screenshot-container a {
  color: black;
  text-decoration: none;
}

.screenshot-container .screenshot {
  border: 1px #999999 solid;
  border-bottom: 0;
  cursor: pointer;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  vertical-align: bottom;
}

.screenshot-container .screenshot.loading {
  background: white url("../images/spinner.gif") no-repeat center center;
}

.screenshot-container .screenshot img {
  vertical-align: middle;
}

.screenshot-container:hover {
  background-color: #F6F6F6;
}

.screenshot-container:hover .screenshot-caption {
  background-color: #E6E6E6;
}

#screenshot-display {
  border: 1px #777777 solid;
  cursor: crosshair;
  padding: 10px;
  position: relative;
}

#screenshot-display img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

#screenshot-display .selection {
  border: 1px #a1c0e3 solid;
  position: absolute;
}

#screenshot-display .selection-flag {
  background-color: #a1c0e3;
  cursor: pointer;
  height: 2em;
  left: 0px;
  line-height: 170%;
  text-align: center;
  top: 0px;
  width: 2em;
}

#screenshot-display .selection.draft {
  border: 1px #aceb6f solid;
}

#screenshot-display .selection-flag.flag-draft {
  background: #aceb6f;
}

#screenshot-display #selection-container {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#screenshot-display #selection-interactive {
  border: 1px #ff0000 dashed;
  position: absolute;
}


/****************************************************************************
 * Screenshot Thumbnails
 ****************************************************************************/
#screenshot-thumbnails {
  margin: 2px;
  padding: 0.5em;
}

#screenshot-thumbnails.dragover {
  border: 2px green dashed;
  display: block;
  margin: 0;
}

#screenshot-thumbnails h1.drop-indicator {
  clear: both;
  text-align: center;
}


/****************************************************************************
 * Comment detail dialog
 ****************************************************************************/
#comment-detail {
  border: 1px black solid;
  margin-top: 8px;
  cursor: default;
}

#comment-detail h1 {
  margin: 0 0 6px 0;
  padding: 0;
}

#comment-detail form {
  background-color: #aceb6f;
  display: block;
  padding: 6px;
}

#comment-detail form .buttons input[type="button"] {
  margin-right: 3px;
}

#comment-detail form .buttons {
  bottom: 6px;
  left: 6px;
  margin-top: 6px;
  position: absolute;
}

#comment-detail textarea {
  font-size: 10pt;
}

#comment-detail img.ui-resizable-grip {
  /* Use -1 for bottom and right so it overlaps the resize borders. */
  bottom: -1px;
  cursor: se-resize;
  padding: 0.5em;
  position: absolute;
  right: -1px;
  z-index: 2;
}

#comment-detail .status {
  margin: 4px 0;
  font-style: italic;
}

#comment-detail #review_comments {
  background-color: #a1c0e3;
  border-right: 1px black solid;
  padding: 6px;
}

#comment-detail #review_comments ul {
  background-color: white;
  border: 1px #333333 solid;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

#comment-detail #review_comments ul li {
  padding: 6px;
}

#comment-detail #review_comments ul li.even {
  background-color: #F3F3F3;
}

#comment-detail #review_comments ul li pre {
  font-size: 90%;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

#comment-detail #review_comments ul li h2 {
  font-size: 90%;
  margin: 0 0 6px 0;
  padding: 0;
}

#comment-detail #review_comments ul li h2 .actions {
  font-weight: normal;
  position: absolute;
  right: 6px;
}

#comment-detail #review_comments ul li h2 .actions a {
  background-color: #EEEEEE;
  border: 1px black outset;
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-left: 6px;
  padding: 1px 3px;
}

#comment-detail #review_comments ul li h2 .actions a:hover {
  background-color: #F6F6F6;
}


/****************************************************************************
 * Banners
 ****************************************************************************/
#discard-banner,
#submitted-banner {
  background: #E0E0E0;
  border: 1px #808080 solid;
}

#review-banner {
  padding-bottom: 4.5em;
}

#review-banner .banner {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


/****************************************************************************
 * Tooltips
 ****************************************************************************/
.tooltip {
  background-color: #fef6b3;
  border: 1px #a58600 solid;
  padding: 4px;
  position: absolute;
}

.tooltip.comments {
  border: 1px black solid;
  border-bottom: 0;
  padding: 0;
}

.tooltip.comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tooltip.comments li {
  background-color: #a1c0e3;
  border-bottom: 1px #5170b3 solid;
  margin: 0;
  padding: 5px;
}

.tooltip.comments li.draft {
  background-color: #aceb6f;
  border-bottom: 1px black solid;
}

.tooltip.comments li pre {
  font-size: 90%;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}


/****************************************************************************
 * Bubbles
 ****************************************************************************/
.bubble {
  background-color: white;
  border: 1px black solid;
  font-size: 10pt;
  font-weight: bold;
  padding: 6px;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}


/****************************************************************************
 * Auto-complete widget
 ****************************************************************************/
/* Content container wrapper */
.ui-autocomplete-results
{
  background: #ffffff;
  border: 1px solid #808080;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9050;
}

/* Footer */
.ui-autocomplete-footer {
  background: #ECECEC;
  border-top: 1px #C0C0C0 solid;
  padding: 3px 6px;
}

/* Results list */
.ui-autocomplete-results ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Result item */
.ui-autocomplete-results li {
  cursor: pointer;
  margin: 0;
  padding: 3px 6px;
  position: relative;
  white-space: nowrap;
}

.ui-autocomplete-results li span {
  margin-left: 6px;
  position: absolute;
  right: 6px;
}

/* Pre-highlighted result item */
/*
.ui-autocomplete-results .ui-autocomplete-over
{
  background: #9cc2eb;
}
*/

/* Highlighted result item */
.ui-autocomplete-results .ui-autocomplete-over
{
  background: #71a5db;
  color: #FFF;
}

/* !(*%!(&^ (see http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
