{% load djblets_deco djblets_utils i18n reviewtags tz %}

<div class="changedesc">
 <a name="changedesc{{entry.changedesc.id}}"></a>
{% definevar "boxclass" %}changedesc {{entry.class}}{% enddefinevar %}
{% box boxclass %}
 <div class="main">
  <div class="header">
   <div class="collapse-button btn"><div class="rb-icon {% if entry.collapsed %}rb-icon-expand-review{% else %}rb-icon-collapse-review{% endif %}"></div></div>
   <div class="reviewer"><b>{% trans "Review request changed" %}</b></div>
   <div class="posted_time">{% localtime on %}{% blocktrans with entry.changedesc.timestamp as timestamp and entry.changedesc.timestamp|date:"c" as timestamp_raw %}Updated <time class="timesince" datetime="{{timestamp_raw}}">{{timestamp}}</time> ({{timestamp}}){% endblocktrans %}{% endlocaltime %}</div>
  </div>
  <div class="body">
   <ul>
{%  for fieldinfo in entry.changeinfo %}
    <li><label>{{fieldinfo.title}}</label>
{%   if fieldinfo.rendered_html %}
     {{fieldinfo.rendered_html}}
{%   elif fieldinfo.name == "status" %}
{%    blocktrans with fieldinfo.old_status as old_status and fieldinfo.new_status as new_status %}
     changed from <i>{{old_status}}</i> to <i>{{new_status}}</i>
{%    endblocktrans %}
{%   endif %}
    </li>
{%  endfor %}
   </ul>
{%  if entry.changedesc.text %}
   <label>{% trans "Description:" %}</label>
   <pre class="changedesc-text" data-rich-text="true">{{entry.changedesc.text|markdown_escape:entry.changedesc.rich_text}}</pre>
{%  endif %}
  </div>
 </div>
{% endbox %}
</div>
