{% load avatars djblets_deco djblets_extensions djblets_utils i18n %}
{% load rb_extensions reviewtags tz %}

{% with review=entry.review %}
<a name="review{{review.id}}"></a>
<div id="review{{review.id}}" class="review review-request-page-entry has-avatar">
{%  if forloop.last %}
 <a name="last-review"></a>
{%  endif %}
 <div class="box-statuses">
  <div class="box-status{% if review.ship_it %} ship-it{% endif %}{% if entry.issue_open_count > 0 %} has-issues{% endif %}">
   <div class="avatar-container">
{%  if siteconfig_settings.avatars_enabled %}
    {% avatar review.user 48 %}
{%  endif %}
   </div>
   <div class="labels-container">
{%  if review.ship_it %}
    <label class="ship-it-label">{% trans "Ship it!" %}</label>
{%  endif %}
{%  if entry.has_issues %}
    <label class="fix-it-label"{% if entry.issue_open_count == 0 %} style="display: none;"{% endif %}>{% trans "Fix it!" %}</label>
{%  endif %}
   </div>
  </div>
 </div>

 <div class="review-request-page-entry-contents
             {{entry.collapsed|yesno:'collapsed,'}}">
  <div class="header">
{%   template_hook_point "review-summary-header-pre" %}
   <div class="collapse-button btn"><div class="rb-icon {% if entry.collapsed %}rb-icon-expand-review{% else %}rb-icon-collapse-review{% endif %}"></div></div>
   <div class="header-details">
    <div class="summary"><a href="{% url 'user' review.user %}" class="user">{{review.user|user_displayname}}</a></div>
    <div class="timestamp">{% localtime on %}{% blocktrans with review.timestamp as timestamp and review.timestamp|date:"c" as timestamp_raw %}<time class="timesince" datetime="{{timestamp_raw}}">{{timestamp}}</time>{% endblocktrans %}{% endlocaltime %}</div>
   </div>
{%   template_hook_point "review-summary-header-post" %}
  </div>

  <div class="banners"></div>

  <div class="body">
   <dl class="review-comments">
    <dt></dt>
    <dd>
     <pre class="reviewtext body_top {% rich_text_classname review.body_top_rich_text %}">{{review.body_top|render_markdown:review.body_top_rich_text}}</pre>
     {% reply_section review '' 'body_top' 'rcbt' review.body_top %}
    </dd>

{%   with diff_comments=entry.comments.diff_comments file_attachment_comments=entry.comments.file_attachment_comments general_comments=entry.comments.general_comments screenshot_comments=entry.comments.screenshot_comments %}
{%    include "reviews/boxes/review_body.html" %}
{%   endwith %}

{%   if review.body_bottom %}
    <dt></dt>
    <dd>
     <pre class="reviewtext body_bottom {% rich_text_classname review.body_bottom_rich_text %}">{{review.body_bottom|render_markdown:review.body_bottom_rich_text}}</pre>
     {% reply_section review '' 'body_bottom' 'rcbb' review.body_bottom %}
    </dd>
{%   endif %}

   </dl>
  </div>
 </div>
</div>

{% endwith %}
