{% extends base_template %}
{% load i18n %}
{% load reviewtags %}

{% block title %}{% trans "Image" %}{% if image.caption %}: {{image.caption}}{% endif %}{% endblock %}

{% block scripts-post %}
{{block.super}}

<script language="javascript">
    $(document).ready(function() {
        var view = new RB.ScreenshotReviewableView({
            model: new RB.ScreenshotReviewable({
                caption: '{{screenshot.caption}}',
                imageURL: '{{screenshot.image.url}}',
                screenshotID: '{{screenshot.id}}',
                serializedComments: {% screenshotcommentcounts screenshot %}
            })
        });

        view.render();
        $('#screenshot-review-ui-container').append(view.$el);
    });
</script>
{% endblock %}

{% block review_ui_content %}
<div id="screenshot-review-ui-container"></div>
{% endblock %}
