{% if error %}
<pre>
{{error}}

{{trace}}
</pre>
{% else %}
<ul id="diff_files" title="Diff Files">
{%  regroup files|dictsort:"basepath" by basepath as sections %}
{%  for section in sections %}
{%   ifnotequal section.grouper "" %}
 <li class="group">{{section.grouper}}</li>
{%   endifnotequal %}
{%   for file in section.list|dictsort:"basename" %}
 <li><a href="/iphone/r/{{review_request.id}}/diff/{{file.filediff.diffset.revision}}/{{file.filediff.id}}/">{{file.basename}}<br/><small>{{file.num_changes}} changes</small></a></li>
{%   endfor %}
{%  endfor %}
</ul>
{% endif %}
