{% load i18n staticfiles %}

<div class="news-content-widget">
 <span class="fa fa-spinner fa-pulse"></span>
 {% trans "Loading..." %}
</div>
<script type="text/javascript">
$(document).ready(function () {
    // RSS Feed Controls
    $("a.reload-news").click(function(evt) {
        $(".news-content-widget").load("feed/news/?reload=1");
            evt.preventDefault();
        });

    $(".news-content-widget").load("feed/news/", function() {
        $('#admin-extras').masonry('reload');
    });
});
</script>
