@import (reference) "rb/css/defs.less";
@import (reference) "rb/css/ui/boxes.less";


#rb-ns-ui() {
  .form() {
    @standard-spacing: #rb-ns-ui.boxes[@padding];
    @large-spacing: @standard-spacing * 2;
    @small-spacing: @standard-spacing / 2;
  }
}


form {
  td {
    padding: 8px 8px 4px 4px;

    &.label {
      text-align: right;
      font-weight: bold;
    }
  }

  th {
    text-align: right;
    vertical-align: top;
  }
}


label.required:after {
  content: ' *';
  font-weight: bold;
  font-size: 10px;
  color: @required-flag-color;
}

td.help {
  font-size: 10px;
  color: #333;
  padding-top: 0;
}

.errorlist {
  color: #DD0000;
  display: inline;
  font-weight: bold;
  margin: 0 0 0 15px;
  padding: 4px 8px;

  li {
    display: inline;
  }
}
