/** A standardized search field with an icon. */

@import (reference) "rb/css/ui/colors.less";


/**
 * A field for searching or filtering content.
 *
 * Structure:
 *     <div class="rb-c-search-field">
 *      <span class="ink-i-search"></span>
 *      <input class="rb-c-search-field__input" type="search">
 *     </div>
 */
.rb-c-search-field {
  display: flex;
  position: relative;

  .ink-i-search {
    color: var(--ink-p-fg-weak);
    left: var(--ink-u-spacing-s);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  /**
   * The text input field.
   *
   * Structure:
   *     <input class="rb-c-search-field__input">
   */
  &__input {
    /* Avoid input[type=...] taking precedence. */
    &,
    &[type=search],
    &[type=text],
    .djblets-c-config-forms-page__content &[type=search],
    .djblets-c-config-forms-page__content &[type=text] {
      border: var(--ink-g-border-input);
      border-radius: var(--ink-u-border-radius-input);
      box-sizing: border-box;
      padding-left: calc(var(--ink-u-icon-std) +
                         var(--ink-u-spacing-s) +
			 var(--ink-u-spacing-xs));
      width: 100%;
    }
  }
}
