{% load djblets_utils %}
{% load staticfiles %}
<div class="rb-c-admin-widget js-draggable js-masonry-item -is-{{widget.size}}{% if widget.actions %} -has-actions{% endif %}" id="{{widget.name}}">
 <h1 class="rb-c-admin-widget__heading">
{% if widget.icon %}
  <img src="{% static widget.icon %}" alt="{{widget.title}}" width="14" height="14" />
{% endif %}
  {{widget.title}}
  <div class="btn-state">
    <div class="rb-icon rb-icon-remove-widget" name="{{widget.widget_id}}"></div>
  </div>
 </h1>
 <div class="rb-c-admin-widget__content">
  {% if widget.template %}
  {% include widget.template %}
  {% endif %}
 </div>
{% if widget.actions %}
 <div class="rb-c-admin-widget__actions">
{%  for action in widget.actions %}
  <a href="{{action.url|default:'#'}}"{% attr "class" %}{{action.classes}}{% endattr %}{% attr "id" %}{{action.id}}{% endattr %}{% attr "rel" %}{{action.rel}}{% endattr %}>{{action.label}}</a>
{%  endfor %}
 </div>
{% endif %}
</div>
