{% load djblets_utils staticfiles %}

<div class="rb-c-admin-widget -is-{{widget.size}}" id="{{widget.name}}">
 <header class="rb-c-admin-widget__header">
  <h1>{{widget.title}}</h1>
  <ul class="rb-c-admin-widget__actions">
    <li class="rb-c-admin-widget__action" name="{{widget.widget_id}}"><span class="rb-icon rb-icon-remove-widget"></span></li>
  </ul>
 </header>
 <div class="rb-c-admin-widget__content">
{% if widget.template %}
{%  include widget.template %}
{% endif %}
 </div>
{% if widget.actions %}
 <footer class="rb-c-admin-widget__footer">
  <ul class="rb-c-admin-widget__actions">
{%  for action in widget.actions %}
   <li class="rb-c-admin-widget__action{% if action.classes %} {{action.classes}}{% endif %}"><a href="{{action.url|default:'#'}}"{% attr "id" %}{{action.id}}{% endattr %}{% attr "rel" %}{{action.rel}}{% endattr %}>{{action.label}}</a>
{%  endfor %}
  </ul>
 </footer>
{% endif %}
</div>
