{% extends "admin/base.html" %}
{% load compressed %}
{% load i18n %}
{% load rbadmintags %}
{% load staticfiles %}

{% block title %}{{title}} | {% trans "Review Board administration" %}{% endblock %}

{% block extrastyle %}
{% compressed_css "common" %}
{% compressed_css "admin" %}
<link rel="icon" type="image/png" href="{% static "rb/images/favicon.png" %}" />
{% include "js/pipeline.html" %}
{% endblock %}

{% block branding %}
{%  include "base/branding.html" with section_title=_("Administration") %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block pretitle %}
{%  if user.is_authenticated %}
<div id="admin-actions" class="clear">
 {% admin_actions %}
</div>
{%  endif %}
{% endblock %}

{% block nav-global %}
{%  if user.is_authenticated %}
<div id="navbar-outer">
 <div id="navbar">
  <ul>
   <li><a href="{% url reviewboard.admin.views.dashboard %}" class="nav-first">{% trans "Dashboard" %}</a></li>
   <li><a href="{% url reviewboard.admin.views.dashboard %}db/">{% trans "Database" %}</a></li>
   <li><a href="{% url djblets.extensions.views.extension_list %}">{% trans "Extensions" %}</a></li>
  </ul>
  <div id="back-to-rb">
   <a href="{% url root %}">{% trans "Back to Review Board" %}</a>
  </div>
 </div>
</div>
{%   block subnavbar %}{% endblock %}
{%  endif %}
{% endblock %}
