{% extends "admin/base_site.html" %}
{% load i18n log pipeline rbadmintags staticfiles %}

{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block jsconsts %}
{{block.super}}
    var SUPPORT_DATA = '{{support_data|escapejs}}';
{% endblock %}

{% block scripts-post %}
{{block.super}}
<!--[if IE]><script src="{% static "lib/js/flot/excanvas.min.js" %}"></script><![endif]-->
{% javascript 'admin-dashboard' %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<div id="support-banner"></div>
<div id="admin-dashboard">
 <div id="dashboard-view">
  <div class="rb-c-admin-widgets">
   <div class="rb-c-admin-widgets__section">
{%  for widget in selected_primary_widgets %}
{%   admin_widget widget %}
{%  endfor %}
   </div>
   <div class="rb-c-admin-widgets__section" id="admin-extras">
{%  for widget in selected_secondary_widgets %}
{%   admin_widget widget %}
{%  endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock content %}
