{% load djblets_utils i18n log rbadmintags %}

{% definevar "enabled_img" %}
<div class="rb-icon rb-icon-admin-enabled" title="{% trans 'Enabled' %}"></div>
{% enddefinevar %}

{% definevar "disabled_img" %}
<div class="rb-icon rb-icon-admin-disabled" title="{% trans 'Disabled' %}"></div>
{% enddefinevar %}

<div class="rb-c-admin-sidebar">
 <h1 class="rb-c-admin-sidebar__heading">{% trans "System Settings" %}</h1>
 <div class="rb-c-admin-sidebar__content">
  <ul>
{% admin_subnav "settings-general" _("General") %}
{% admin_subnav "settings-authentication" _("Authentication") %}
{% admin_subnav "settings-avatars" _("Avatar Services") %}
{% admin_subnav "settings-email" _("E-Mail") %}
{% admin_subnav "settings-diffs" _("Diff Viewer") %}
{% admin_subnav "settings-logging" _("Logging") %}
{% admin_subnav "settings-ssh" _("SSH")  %}
{% admin_subnav "settings-storage" _("File Storage") %}
{% admin_subnav "settings-privacy" _("User Privacy") %}
{% admin_subnav "settings-support" _("Support") %}
{% admin_subnav "settings-search" _("Search") %}
{% admin_subnav "admin-security-checks" _("Security Center") %}
  </ul>
 </div>

 <h1 class="rb-c-admin-sidebar__heading">{% trans "Manage" %}</h1>
 <div class="rb-c-admin-sidebar__content action-box">
  <table summary="{% trans "Common management operations." %}">
   <tbody>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/auth/user/">{% trans "Users" %}</a></th>
     <td class="count">{{count_users}}</td>
     <td width="16" class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/auth/user/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/reviews/group/">{% trans "Review Groups" %}</a></th>
     <td class="count">{{count_review_groups}}</td>
     <td class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/reviews/group/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/reviews/defaultreviewer/">{% trans "Default Reviewers" %}</a></th>
     <td class="count">{{count_default_reviewers}}</td>
     <td class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/reviews/defaultreviewer/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/scmtools/repository/">{% trans "Repositories" %}</a></th>
     <td class="count">{{count_repository}}</td>
     <td class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/scmtools/repository/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/notifications/webhooktarget/">{% trans "Webhooks" %}</a></th>
     <td class="count">{{count_webhooks}}</td>
     <td class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/notifications/webhooktarget/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/hostingsvcs/hostingserviceaccount/">{% trans "Hosting Accounts" %}</a></th>
     <td class="count">{{count_hosting_accounts}}</td>
     <td class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/hostingsvcs/hostingserviceaccount/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
    <tr>
     <th scope="row"><a href="{{SITE_ROOT}}admin/db/oauth/application/">{% trans "OAuth2 Applications" %}</a></th>
     <td class="count">{{count_oauth_applications}}</td>
     <td class="td-right"><a class="addlink" href="{{SITE_ROOT}}admin/db/oauth/application/add/"><div class="rb-icon rb-icon-admin-add" title="{% trans "Add new" %}"></div></a></td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
