{% load djblets_utils i18n log rbadmintags %}

<li class="rb-c-sidebar__section">
 <header class="rb-c-sidebar__section-header">{% trans "Administration" %}</header>
 <ul class="rb-c-sidebar__items">
{% admin_subnav "admin-dashboard" _("Dashboard") %}
{% admin_subnav "admin-security-checks" _("Security Center") %}
{% admin_subnav "extension-list" _("Extensions") %}
{% admin_subnav "integration-list" _("Integrations") %}
{% admin_subnav "admin:index" _("Database") %}
 </ul>
</li>
<li class="rb-c-sidebar__section">
 <header class="rb-c-sidebar__section-header">{% trans "Settings" %}</header>
 <ul class="rb-c-sidebar__items">
{% admin_subnav "settings-general" _("General") %}
{% admin_subnav "settings-authentication" _("Authentication") %}
{% admin_subnav "settings-avatars" _("Avatars") %}
{% admin_subnav "settings-email" _("E-Mail") %}
{% admin_subnav "settings-diffs" _("Diff Viewer") %}
{% admin_subnav "settings-logging" _("Logging") %}
{% admin_subnav "settings-ssh" _("SSH")  %}
{% admin_subnav "settings-storage" _("File Storage") %}
{% admin_subnav "settings-privacy" _("User Privacy") %}
{% admin_subnav "settings-support" _("Support") %}
{% admin_subnav "settings-search" _("Search") %}
 </ul>
</li>
<li class="rb-c-sidebar__section -has-icons">
 <header class="rb-c-sidebar__section-header">{% trans "Manage" %}</header>
 <ul class="rb-c-sidebar__items">
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_auth_user_add}}" title="{% trans "Add new user" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_auth_user_changelist}}">{% trans "Users" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_users}}</span>
  </li>
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_reviews_group_add}}" title="{% trans "Add new review group" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_reviews_group_changelist}}">{% trans "Review Groups" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_review_groups}}</span>
  </li>
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_reviews_defaultreviewer_add}}" title="{% trans "Add new default reviewer" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_reviews_defaultreviewer_changelist}}">{% trans "Default Reviewers" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_default_reviewers}}</span>
  </li>
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_scmtools_repository_add}}" title="{% trans "Add new repository" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_scmtools_repository_changelist}}">{% trans "Repositories" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_repository}}</span>
  </li>
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_notifications_webhooktarget_add}}" title="{% trans "Add new WebHook" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_notifications_webhooktarget_changelist}}">{% trans "WebHooks" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_webhooks}}</span>
  </li>
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_hostingsvcs_hostingserviceaccount_add}}" title="{% trans "Add new hosting account" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_hostingsvcs_hostingserviceaccount_changelist}}">{% trans "Hosting Accounts" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_hosting_accounts}}</span>
  </li>
  <li class="rb-c-sidebar__nav-item">
   <a class="rb-c-sidebar__icon rb-icon rb-icon-admin-add" href="{{url_oauth_application_add}}" title="{% trans "Add new OAuth2 application" %}"></a>
   <a class="rb-c-sidebar__item-label" href="{{url_oauth_application_changelist}}">{% trans "OAuth2 Applications" %}</a>
   <span class="rb-c-sidebar__item-value">{{count_oauth_applications}}</span>
  </li>
 </ul>
</li>
