{% load i18n %}

<div class="rb-c-form__actions-primary">
{% if show_save %}
 <input class="rb-c-form__action -is-primary" type="submit"
        value="{% trans "Save" %}" name="_save">
{% endif %}

{% if show_save_as_new %}
 <input class="rb-c-form__action" type="submit"
        value="{% trans "Save as new" %}" name="_saveasnew">
{% endif %}

{% if show_save_and_add_another %}
 <input class="rb-c-form__action" type="submit"
        value="{% trans "Save and add another" %}" name="_addanother">
{% endif %}

{% if show_save_and_continue %}
 <input class="rb-c-form__action" type="submit"
        value="{% trans "Save and continue editing" %}" name="_continue">
{% endif %}
</div>

{% if show_delete_link %}
<div class="rb-c-form__actions-secondary">
 <a class="rb-c-form__action rb-c-button -is-danger" role="button"
    href="{{delete_url}}">{% trans "Delete" %}</a>
 </div>
{% endif %}
</div>
