{% extends "base.html" %}
{% load htmlutils %}
{% load reviewtags %}
{% block title %}My Dashboard{% endblock %}

{% block extrahead %}
<meta http-equiv="refresh" content="300" />
<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="/scripts/rb/common.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
{% endblock %}

{% block content %}
{% box "dashboard" %}
<div id="dashboard-wrapper">
 <table class="list" id="dashboard-navbar">
  <colgroup>
   <col class="summary" />
   <col class="count" />
  </colgroup>
  <tbody>
{% dashboard_entry "main-item" "Outgoing Reviews" "outgoing" %}
{% dashboard_entry "main-item" "Incoming Reviews" "incoming" %}
{% dashboard_entry "sub-item"  "To Me"            "to-me" %}
{% for g in user.group_set.all %}
{%  dashboard_entry "sub-item" g.name "to-group" g %}
{% endfor %}
  </tbody>
 </table>
 <div id="dashboard-main" class="clearfix">
  <h1 class="title">{{title}}</h1>
  <div class="main">
   <table class="list" id="dashboard-list">
    <colgroup>
     <col class="summary" width="100%" />
     <col class="submitter" width="0%" />
     <col class="posted" width="0%" />
     <col class="updated" width="0%" />
    </colgroup>
    <thead>
     <tr class="headers">
      {% column_header "summary"      "Summary"      %}
      {% column_header "submitter"    "Submitter"    %}
      {% column_header "time_added"   "Posted"       %}
      {% column_header "last_updated" "Last Updated" %}
     </tr>
    </thead>
    <tbody>
{% for review_request in review_request_list %}
     <tr class="{% cycle odd,even %}">
      <td class="summary" onclick="javascript:window.location='{{review_request.get_absolute_url}}'; return false;"><a href="{{review_request.get_absolute_url}}">{% reviewsummary review_request %}</a></td>
      <td><a href="{{review_request.submitter.get_absolute_url}}">{{review_request.submitter}}</a></td>
      <td class="{% ageid review_request.time_added %}">{{review_request.time_added|date:"F jS, Y, P"}}</td>
      <td class="{% ageid review_request.last_updated %}">{{review_request.last_updated|timesince}} ago</td>
     </tr>
{% endfor %}
    </tbody>
   </table>
{% if is_paginated %}
{%  paginator %}
{% endif %}
  </div>
 </div>
</div>
{% endbox %}
{% endblock %}
