{% extends "base_feeds.html" %}
{% load htmlutils %}
{% load reviewtags %}
{% block title %}My Dashboard{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="/scripts/rb/core.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
{% endblock %}

{% block content %}
<div id="sidebar-wrapper">
{% box sidebar %}
 <div class="main">
  <table class="list" id="dashboard-navbar">
   <colgroup>
    <col class="summary" />
    <col class="count" />
   </colgroup>
   <tbody>
   </tbody>
  </table>
 </div>
{% endbox %}
</div>

<div id="dashboard_main">
 {% box dashboard %}
 <h1 class="title">Review Requests</h1>
 <div class="main">
  <table class="list" id="dashboard-list">
   <colgroup>
    <col class="summary" width="100%" />
    <col class="submitter" width="0%" />
    <col class="updated" width="0%" />
   </colgroup>
   <thead>
    <tr class="headers">
     <th>Summary</th>
     <th>Submitter</th>
     <th>Last Updated</th>
    </tr>
   </thead>
   <tbody>
{% for review_request in review_requests %}
    <tr>
     <td class="summary" onclick="javascript:window.location='{{review_request.get_absolute_url}}'; return false;"><a href="{{review_request.get_absolute_url}}">{% reviewsummary review_request %}</a></td>
     <td><a href="{{review_request.submitter.get_absolute_url}}">{{review_request.submitter}}</a></td>
     <td class="{% ageid review_request.last_updated %}">{{review_request.last_updated|timesince}} ago</td>
    </tr>
{% endfor %}
   </tbody>
  </table>
 </div>
 {% endbox %}
</div>

<script language="javascript">
function onPageLoaded(evt) {
    addNavItem("Outgoing Reviews", "view=outgoing", 0);
    addNavItem("Incoming Reviews", "view=incoming", 0);
    addNavItem("To Me", "view=to-me", 1);
{% for group in user.group_set.all %}
	addNavItem("{{group.name}}", "view=to-group&group={{group.name}}", 1);
{% endfor %}
}

YAHOO.util.Event.on(window, "load", onPageLoaded);
</script>
{% endblock %}
