{% extends "base_feeds.html" %}
{% load htmlutils %}
{% load reviewtags %}
{% block title %}{% firstof source "All" %} pending review requests{% endblock %}

{% block content %}

{% if direct_list or group_list %}
 {% if direct_list %}
  <h2>Direct Reviews</h2>
  <p>{{ quips.direct.text }}</p>

  <table class="list">
   <colgroup>
    <col class="summary" />
    <col class="submitter" width="1*" />
    <col class="updated" width="1*" />
   </colgroup>
   <thead>
    <tr class="headers">
     <th>Summary</th>
     <th>Submitter</th>
     <th>Last Updated</th>
    </tr>
   </thead>
   <tbody>
{%  for review in direct_list %}
     <tr>
      <td class="summary" onclick="javascript:window.location='{{review.get_absolute_url}}';"><a href="{{review.get_absolute_url}}">{{review}}</a></td>
      <td><a href="{{review.submitter.get_absolute_url}}">{{review.submitter}}</a></td>
      <td class="{% ageid review.last_updated %}">{{review.last_updated|timesince}} ago</td>
     </tr>
{%  endfor %}
   </tbody>
  </table>
 {% endif %}

 {% if group_list %}
  <h2>Group Reviews</h2>
  <p>{{ quips.group.text }}</p>

  <table class="list">
   <colgroup>
    <col class="summary" />
    <col class="submitter" width="1*" />
    <col class="updated" width="1*" />
   </colgroup>
   <thead>
    <tr class="headers">
     <th>Summary</th>
     <th>Submitter</th>
     <th>Last Updated</th>
    </tr>
   </thead>
   <tbody>
{%  for review in group_list %}
     <tr>
      <td class="summary" onclick="javascript:window.location='{{review.get_absolute_url}}';"><a href="{{review.get_absolute_url}}">{{review}}</a></td>
      <td><a href="{{review.submitter.get_absolute_url}}">{{review.submitter}}</a></td>
      <td class="{% ageid review.last_updated %}">{{review.last_updated|timesince}} ago</td>
     </tr>
{%  endfor %}
   </tbody>
  </table>
 {% endif %}
{% else %}
<p>{{ quips.empty.text }}</p>
{% endif %}

{% if your_list %}
  <h2>Your Pending Reviews</h2>
  <p>{{ quips.mine.text }}</p>

  <table class="list">
   <colgroup>
    <col class="summary" />
    <col class="submitter" width="1*" />
    <col class="updated" width="1*" />
   </colgroup>
   <thead>
    <tr class="headers">
     <th>Summary</th>
     <th>Last Updated</th>
    </tr>
   </thead>
   <tbody>
{%  for review in your_list %}
     <tr>
      <td class="summary" onclick="javascript:window.location='{{review.get_absolute_url}}';"><a href="{{review.get_absolute_url}}">{% reviewsummary review %}</a></td>
      <td class="{% ageid review.last_updated %}">{{review.last_updated|timesince}} ago</td>
     </tr>
{%  endfor %}
   </tbody>
  </table>
{% endif %}

{% endblock %}
