{% extends "base.html" %}
{% load djblets_deco %}
{% block title %}{{datagrid.title}}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/datagrid.css" />
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/rb/common.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/djblets/datagrid.js"></script>
{% endblock %}

{% block content %}
{% box %}
{{datagrid.render_listview}}
{% endbox %}
{% endblock %}
