{% extends "base.html" %}
{% load datagrid %}
{% load reviewtags %}
{% load htmlutils %}
{% block title %}Groups{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="/scripts/rb/common.js"></script>
{% endblock %}

{% block content %}
{% box "grouplist" %}
<h1 class="title">All groups</h1>
<div class="main">
{% if group_list %}
<table class="list">
 <colgroup>
  <col class="star" />
  <col class="name" width="25%" />
  <col class="name" width="75%" />
  <col class="reviewcount" />
 </colgroup>
 <tr class="headers">
  <th><img src="/images/star_on.png" width="16" height="15" alt="Starred" /></th>
  <th>Name</th>
  <th>Description</th>
  <th>Pending Reviews</th>
 </tr>
{% for group in group_list %}
 <tr class="{% cycle odd,even %}">
  <td>{% star group %}</td>
  <td><a href="{{group}}/">{{group}}</a></td>
  <td><a href="{{group}}/">{{group.display_name}}</a></td>
  <td>{% pendingreviewcount group %}</td>
 </tr>
{% endfor %}
</table>
{% if is_paginated %}
Results <b>{{first_on_page}} - {{last_on_page}}</b> of <b>{{hits}}</b>
{% if has_previous %}<a class="pagination" href="?page={{previous}}">&larr;Previous {{results_per_page}}</a>{% endif %}
{% if has_next %}<a class="pagination" href="?page={{next}}">&rarr;Next {{results_per_page}}</a>{% endif %}
{% endif %}
{% else %}
<p>No groups.</p>
{% endif %}
</div>
{% endbox %}

{% endblock %}
