{% extends "base.html" %}
{% load reviewtags %}
{% load htmlutils %}
{% block title %}Groups{% endblock %}

{% block content %}
{% box grouplist %}
<h1 class="title">All groups</h1>
<div class="main">
{% if object_list %}
<table class="list">
 <colgroup>
  <col class="name" />
  <col class="reviewcount" width="1*" />
 </colgroup>
 <tr>
  <th>Name</th>
  <th>Pending Reviews</th>
 </tr>
{% for group in object_list %}
 <tr class="{% cycle odd,even %}">
  <td><a href="{{group}}">{{group}}</a></td>
  <td>{% pendingreviewcount group %}</td>
 </tr>
{% endfor %}
</ul>
{% else %}
<p>No groups.</p>
{% endif %}
</div>
{% endbox %}

{% endblock %}
