<ol id="comments-list">
{% for comment in comments %}
 <li class="comment{% if comment.draft %} draft{% endif %}">
  <dl>
   <dt>
    {% if comment.draft %}<label for="id_yourcomment">{% endif %}
    <a href="{{comment.user.get_absolute_url}}">{% firstof comment.user.get_full_name comment.user.username %}</a>
    <span class="timestamp">{{comment.timestamp|timesince}} ago.</span>
    <span class="lines">{% ifequal comment.num_lines 1%}Line {{comment.first_line}}{% else %}Lines {{comment.first_line}} - {{comment.last_line}}{% endifequal %}</span>
    {% if comment.draft %}</label>{% endif %}
   </dt>
   <dd{% if comment.draft %} id="id_yourcomment"{% endif %}>{{comment.text|escape|linebreaks}}</dd>
  </dl>
 </li>
{% endfor %}
</ol>
