{% extends "base.html" %}
{% load htmlutils %}
{% block title %}New Review Request{% endblock %}

{% block content %}
<div class="section">
 <div class="title">Enter the review request information</div>
 <div class="body">
  {% if form.has_errors %}
  {%  errorbox %}
  You need to fix the following error{{form.error_dict|pluralize}}.
  {{form.error_dict}}
  {%  enderrorbox %}
  {% endif %}
  <form method="post" action=".">
   <table id="review_request_form">
    {{ form.as_table }}
    <tr>
     <td>&nbsp;</td>
     <td class="field" colspan="2"><input type="submit" value="Next" /></td>
    </tr>
   </table>
  </form>
 </div>
</div>
{% endblock %}
