{% extends "base.html" %}
{% load htmlutils %}
{% block title %}New Review Request{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/css/diffviewer.css" />
<link rel="stylesheet" type="text/css" href="/css/reviews.css" />
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript">
var fields = ["changenum", "basedir", "diff_path"];
var visible = {{fields|safe}};
function updateFormDisplay() {
    var selection = getEl("id_repository").dom;
    var selectedID = selection.options[selection.selectedIndex].value;
    var shown = visible[selectedID];

    for (i in fields) {
        getEl("row_" + fields[i]).dom.style.display = "none";
    }
    for (i in shown) {
        getEl("row_" + shown[i]).dom.style.display = "";
    }
}

YAHOO.util.Event.on(window, "load", function(e) {
    updateFormDisplay();
});
</script>
{% endblock %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data">
{% box "new-review-request" %}
 <h1 class="title">New Review Request</h1>
 <div class="main">
  <table>
   <tr>
    <td><label for="id_repository">Repository:</label></td>
    {% spaceless %}<td>
     <select name="repository" id="id_repository" onchange="updateFormDisplay();">
      {% for repository in form.fields.repository.choices %}
       {% ifequal form.data.repository repository.0 %}
        <option value="{{repository.0}}" selected="selected">{{repository.1}}</option>
       {% else %}
        <option value="{{repository.0}}">{{repository.1}}</option>
       {% endifequal %}
      {% endfor %}
     </select>
    </td>{% endspaceless %}
   </tr>
   <tr id="row_changenum">
    <td><label for="id_changenum">Change Number:</label></td>
    <td>{{form.changenum}}</td>
    <td>{{form.changenum.errors}}</td>
   </tr>
   <tr id="row_basedir">
    <td><label for="id_basedir">Base Diff Path:</label></td>
    <td>{{form.basedir}}</td>
    <td>{{form.basedir.errors}}</td>
   </tr>
   <tr id="row_diff_path">
    <td><label for="id_diff_path">Diff:</label></td>
    <td>{{form.diff_path}}</td>
    <td>{{form.diff_path.errors}}</td>
   </tr>
  </table>
 </div>
{% endbox %}
 <div class="prefsbuttons">
  <input type="submit" value="Create Review Request" />
 </div>
</form>

{% endblock %}

