{% extends "base.html" %}
{% block title %}Review Request | {{details}}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/scripts/prototype.js"></script>
<script type="text/javascript" src="/scripts/scriptaculous.js"></script>
{% endblock %}

{% block content %}
<div id="servererror"></div>

<div id="banner">
</div>
<div id="review-request">
 <table class="header">
  <colgroup>
   <col width="100%" />
   <col />
  </colgroup>
  <tr>
   <td rowspan="2"><h1 id="summary">{{details.summary}}</h1></td>
   <td id="updated_time" nowrap="nowrap">Last updated {{object.last_updated|timesince}} ago</td>
  </tr>
  <tr><td id="status" nowrap="nowrap">{{object.get_status_display}}</td></tr>
 </table>
 <table id="details">
  <colgroup>
   <col width="0*" />
   <col width="1*" />
  </colgroup>
  <colgroup>
   <col width="0*" />
   <col width="1*" />
  </colgroup>
  <tr>
   <td class="label"><label for="submitter">Submitter:</label></td>
   <td class="value"><a id="submitter" href="{{object.submitter.get_absolute_url}}">{{object.submitter}}</a></td>
   <td class="caption" colspan="2">Reviewers</td>
  </tr>
  <tr>
   <td class="label"><label for="branch">Branch:</label></td>
   <td class="value"><span id="branch">{{details.branch}}</span></td>
   <td class="indented label"><label for="target_groups">Groups:</label></td>
   <td class="value"><span id="target_groups">
{%  for group in details.target_groups.all %}
<a href="{{group.get_absolute_url}}">{{group}}</a>{%if not forloop.last %}, {%endif %}
{%  endfor %}
  </span></td>
  </tr>
  <tr>
   <td class="label"><label for="bugs_closed">Bugs Closed:</label></td>
   <td class="value"><span id="bugs_closed">
{%  for bug in details.get_bug_list %}
   <a href="http://bugzilla/show_bug.cgi?id={{bug}}">{{bug}}</a>{%if not forloop.last %}, {%endif %}
{%  endfor %}
  </span></td>
   <td class="indented label"><label for="target_people">People:</label></td>
   <td class="value"><span id="target_people">
{%  for person in details.target_people.all %}
<a href="{{person.get_absolute_url}}">{{person}}</a>{%if not forloop.last %}, {%endif %}
{%  endfor %}
  </span></td>
  </tr>
 </table>
 <div class="content">
  <label for="description">Description:</label>
  <pre><div id="description">{{details.description|escape}}</div></pre>
 </div>
 <div class="content">
  <label for="testing_done">Testing Done:</label>
  <pre><div id="testing_done">{{details.testing_done|escape}}</div></pre>
 </div>
</div>

<script type="text/javascript">
	function registerEditorCommon(field, rows, cols, bgcolor) {
		var editid = field + '_edit';
		var node = $(field);

		new Insertion.Bottom(node, " ");
		node.appendChild(Builder.node("img", {id: editid,
		                                      src: '/images/edit.png',
											  width: 14, height: 14}));

		editor = new Ajax.InPlaceEditor(field, 'field/' + field + '/',
			{
				externalControl: editid,
				highlightendcolor: bgcolor,
				onFailure: function() {
					$('servererror').innerHTML = transport.responseText;
				},
				onComplete: function() {
					if (transport != null) {
						showDraftBanner();
						//updateField('last_updated');
					}
				},
				rows: rows,
				cols: cols
			});

		return editor;
	}

	function registerEditor(field) {
		registerEditorCommon(field, 1, 50, '#fffad3');
	}

	function registerMultiEditor(field) {
		registerEditorCommon(field, 10, 100, '#fafafa');
	}

	function updateField(field) {
		new Ajax.Updater(field, 'field/' + field + '/', {method: 'get'});
	}

	function submitDraft() {
		new Ajax.Request('draft/save/',
			{
				method: 'get',
		        onSuccess: function() { hideDraftBanner(); },
				onFailure: function() {
					alert("Saving the draft has failed due to a server " +
					      "error. Please try again later. If this " +
						  "continues to happen, please report it to your " +
						  "administrator.");
				}
			});
	}

	function onRevertDraftSuccess() {
		hideDraftBanner();

		updateField('summary');
		updateField('branch');
		updateField('description');
		updateField('testing_done');
		//updateField('last_updated'); // TODO
		//updateField('bugs_closed');
		//updateField('target_groups');
		//updateField('target_people');
	}

	function revertDraft() {
		new Ajax.Request('draft/revert/',
			{
				method: 'get',
		        onSuccess: onRevertDraftSuccess,
				onFailure: function() {
					alert("Reverting the draft has failed due to a server " +
					      "error. Please try again later. If this " +
						  "continues to happen, please report it to your " +
						  "administrator.");
				}
			});
	}

	function showDraftBanner() {
		if ($('draft') == null) {
			$('banner').appendChild(
				Builder.node('div', {id: 'draft'}, [
					Builder.node("h1", "This is a draft."),
					" Be sure to save when finished.",
					Builder.node('input', {type: 'submit', value: 'Save',
										   onClick: 'submitDraft();'}),
					Builder.node('input', {type: 'submit', value: 'Revert',
										   onClick: 'revertDraft();'})
				])
			);
		}
	}

	function hideDraftBanner() {
		var node = $('draft');

		if (node != null) {
			$('banner').removeChild(node);
		}
	}

	registerEditor('summary');
	registerEditor('branch');
	registerMultiEditor('description');
	registerMultiEditor('testing_done');
	registerEditor('bugs_closed');
	registerEditor('target_groups');
	registerEditor('target_people');

	if ({% ifequal draft None %}0{% else %}1{% endifequal %}) {
		showDraftBanner();
	} else {
		hideDraftBanner();
	}

</script>
{% endblock %}
