{% extends "base.html" %}
{% load i18n %}
{% load difftags %}
{% load htmlutils %}
{% load reviewtags %}

{% block title %}{{review_request_details.summary}} | {% trans "Review Request" %}{% endblock %}
{% block extrahead %}
<meta content="no-cache" http-equiv="pragma" />
<link rel="stylesheet" type="text/css" href="/css/diffviewer.css" />
<link rel="stylesheet" type="text/css" href="/css/reviews.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
<link rel="stylesheet" type="text/css" href="/css/yui-ui.css" />
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/animation/animation-min.js"></script>
<script type="text/javascript" src="/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/scripts/yui/autocomplete/autocomplete-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/scripts/yui/utilities/utilities.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="/scripts/rb/common.js"></script>
<script type="text/javascript" src="/scripts/rb/dialogs.js"></script>
<script type="text/javascript" src="/scripts/rb/widgets.js"></script>
<script type="text/javascript" src="/scripts/reviews.js"></script>
<script type="text/javascript">
  var gReviewRequestPath = '{{review_request.get_absolute_url}}';
  var gUserURL = "{{user.get_absolute_url}}";
  var gUserFullName = "{% firstof user.get_full_name user.username %}";
  var gReviewRequestId = "{{review_request.id}}";
  var gBugTrackerURL = "{{review_request.repository.bug_tracker}}";
</script>
{% endblock %}

{% block content %}
{% ifneatnumber review_request.id %}
{%  box "yay" %}
 <img src="/images/{% if milestone %}trophy{% else %}fish-trophy{% endif %}.png" width="32" height="48" border="0" alt="" />
 <h1>{% firstof review_request.submitter.get_full_name review_request.submitter.username %} got review request #{{review_request.id}}!</h1>
{%  endbox %}
{% endifneatnumber %}
<div class="banner" id="error"></div>
<div class="banner" id="main-banner"></div>

{% box "review-request" %}
<ul id="topcontrols">
{% if review_request_details.diffset or review_request.diffset_history.diffset_set.count %}
 <li onclick="javascript:window.location='diff/#index_header';"><a href="diff/#index_header"><img src="/images/diff.png" width="17" height="14" border="0" alt="" /> View Diff</a></li>
{% endif %}
</ul>
<div class="main">
{% include "reviews/review_request_box.html" %}
</div>
<ul class="controls">
{% if perms.reviews.delete_reviewrequest %}
 <li><a id="delete-review-request-link" href="#" onClick="deleteReviewRequest();"><img src="/images/delete.png" width="12" height="12" border="0" alt="" /> Delete</a></li>
{% endif %}
{% ifuserorperm review_request.submitter "reviews.can_change_status" %}
{%  if review_request.public %}
{%    ifequal review_request.status 'P' %}
 <li><a href="{{review_request.get_absolute_url}}submitted/">Set Submitted</a></li>
 <li><a href="#" onClick="showDiscardBanner();">Discard</a></li>
{%    else %}
 <li><a href="{{review_request.get_absolute_url}}reopen/">Reopen for Review</a></li>
{%    endifequal %}
{%  else %}
 <li><a href="#" onClick="publishDraft();">Publish</a></li>
 <li><a href="#" onClick="showDiscardBanner();">Discard</a></li>
{%  endif %}
{% endifuserorperm %}
{% ifequal request.user review_request.submitter %}
 <li><a id="upload-diff-link" href="#" onClick="RB.dialogs.showFormDialog('upload-diff-link');"><img src="/images/upload.png" width="14" height="14" border="0" alt="" /> {% if review_request_details.diffset or review_request.diffset_history.diffset_set.count %} {% trans "Update Attached Diff" %}{% else %} Attach Diff{% endif %}</a></li>
 <li><a id="upload-screenshot-link" href="#" onClick="RB.dialogs.showFormDialog('upload-screenshot-link');"><img src="/images/upload.png" width="14" height="14" border="0" alt="" /> Attach Screenshot</a></li>
{% endifequal %}
{% ifequal request.user review_request.submitter %}
 <noscript><li><a href="{{review_request.get_absolute_url}}edit/"><img src="/images/edit.png" width="14" height="14" border="0" alt="" /> Edit</a></li></noscript>
{% endifequal %}
</ul>
{% ifequal request.user review_request.submitter %}
<script type="text/javascript">
  RB.dialogs.registerFormDialog("upload-diff-link", {
    title: "{% trans "Attach Diff" %}",
    confirmButton: "{% trans "Attach" %}",
    width: 400,
    height: 250,
    path: '/api/json/reviewrequests/{{review_request.id}}/diff/new/',
    upload: true,
    onSubmitted: function() { window.location.reload(); },
    fields: {% form_dialog_fields upload_diff_form %}
  });

  RB.dialogs.registerFormDialog("upload-screenshot-link", {
    title: "{% trans "Attach Screenshot" %}",
    confirmButton: "{% trans "Attach" %}",
    width: 350,
    height: 250,
    path: '/api/json/reviewrequests/{{review_request.id}}/screenshot/new/',
    upload: true,
    onSubmitted: function() { window.location.reload(); },
    fields: {% form_dialog_fields upload_screenshot_form %}
  });
</script>
{% endifequal %}
{% endbox %}

{% for review in reviews %}
<a name="review{{review.id}}"></a>
{% if forloop.last %}
<a name="last-review" />
{% endif %}
{% box "review" %}
<div class="main">
 <div class="banner" id="{{review.id}}-banner"></div>
 <div class="header">
  {% if review.ship_it %}<div class="shipit">Ship it!</div>{% endif %}
  <div class="reviewer"><a href="{{review.user.get_absolute_url}}">{% firstof review.user.get_full_name review.user.username %}</a></div>
  <div class="posted_time">Posted {{review.timestamp|timesince}} ago ({{review.timestamp|date:"F jS, Y, P"}})</div>
 </div>
 <div class="body">
  {% if review.body_top %}
   <pre class="body_top">{{review.body_top|escape}}</pre>
   {% reply_section review "" "body_top" "rcbt" %}
  {% endif %}
{% if review.comments.all or review.screenshot_comments.all %}
   <dl class="diff-comments">
{% for comment in review.screenshot_comments.all %}
    <dt>
     <div class="screenshot">
      <span class="filename">
       <a href="{{comment.screenshot.get_absolute_url}}">{% if comment.screenshot.caption %}{{comment.screenshot.caption}}{% else %}{{comment.screenshot.image|basename}}{% endif %}</a>
      </span>
      {{comment.image|safe}}
     </div>
    </dt>
    <dd>
     <pre>{{comment.text|escape}}</pre>
     {% reply_section review comment "screenshot_comment" "rc" %}
    </dd>
{% endfor %}
{% for comment in review.ordered_comments %}
    <dt>
     <table class="sidebyside">
      <colgroup>
       <col class="line" />
       <col class="left" />
       <col class="line" />
       <col class="right" />
      </colgroup>
      <thead>
       <tr>
        <th colspan="4" class="filename">
         <a href="{{comment.get_absolute_url}}">{{comment.filediff.dest_file}}</a>
		 <span class="diffrevision">
{% if comment.interfilediff %}
          (Diff revisions {{comment.filediff.diffset.revision}} - {{comment.interfilediff.diffset.revision}})
{% else %}
		  (Diff revision {{comment.filediff.diffset.revision}})
{% endif %}
		 </span>
        </th>
       </tr>
      </thead>
{% forchunkswithlines comment.filediff comment.interfilediff comment.first_line comment.num_lines %}
      <tbody class="{{chunk.change}}">
{% for line in chunk.lines %}
       <tr{% ifnotequal chunk.change "equal" %}{% attr "class" %}{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}{% endattr %}{% endifnotequal %}>
         <th>{{line.1}}</td>
         <td><pre>{{ line.2|highlightregion:line.3|showextrawhitespace }}</pre></td>
         <th>{{line.4}}</td>
         <td><pre>{{ line.5|highlightregion:line.6|showextrawhitespace }}</pre></td>
       </tr>
{% endfor %}
      </tbody>
{% endforchunkswithlines %}
     </table>
    </dt>
    <dd>
     <pre>{{comment.text|escape}}</pre>
	 {% reply_section review comment "comment" "rc" %}
    </dd>
{% endfor %}
   </dl>
{% endif %}
  {% if review.body_bottom %}
   <pre class="body_bottom">{{review.body_bottom|escape}}</pre>
   {% reply_section review "" "body_bottom" "rcbb" %}
  {% endif %}
 </div>
</div>
{% endbox %}
{% endfor %}

{% ifequal request.user review_request.submitter %}
<script type="text/javascript">
  registerEditor('summary', false);
  registerEditor('branch', false);
  registerEditor('description', true);
  registerEditor('testing_done', true);
  registerCommaListEditor('bugs_closed', onBugsChanged);
  registerAutoCompleteCommaListEditor('target_groups',
                                      onTargetGroupsChanged,
                                      "/api/json/groups/",
                                      ["groups", "name"]);
  registerAutoCompleteCommaListEditor('target_people',
                                      onTargetPeopleChanged,
                                      "/api/json/users/",
                                      ["users", "username"]);

{% for image in review_request_details.screenshots.all %}
  registerEditor('screenshot_{{image.id}}_caption', false);
{% endfor %}

{% if draft %}
  showDraftBanner();
{% else %}
  hideDraftBanner();
{% endif %}
</script>
{% endifequal %}
{% endblock %}
