{% load i18n %}
{% load reviewtags %}
  <div id="{{context_id}}-{{review.id}}">
   <ol class="reply-comments">
    {% reply_list review comment context_type context_id %}
   </ol>
{% if user.is_authenticated %}
   <ul class="controls">
    <li><a href="#" id="add_{{context_type}}_{{comment.id}}" class="add_comment_link">{% trans "Add comment" %}</a></li>
   </ul>
  </div>
  <script language="javascript">
  $(document).ready(function()
  {
      $("#{{context_id}}-{{review.id}}").commentSection("{{review.id}}",
          "{% ifequal comment "" %}{{review.id}}{% else %}{{comment.id}}{% endifequal %}", "{{context_type}}");
  });
  </script>
{% endif %}
