{% extends "base.html" %}
{% load reviewtags %}

{% block title %}Review Request | {{details}}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/animation/animation-min.js"></script>
<script type="text/javascript" src="/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="/scripts/rb/core.js"></script>
<script type="text/javascript" src="/scripts/rb/widgets.js"></script>
{% endblock %}

{% block content %}
<div id="error"></div>
<div id="banner"></div>

<div id="review-request">
 <div class="main">
  <table class="header">
   <colgroup>
    <col width="100%" />
    <col />
   </colgroup>
   <tr>
    <td id="summary_wrapper"><h1 id="summary">{{details.summary}}</h1></td>
    <td id="created_time" nowrap="nowrap">Created {{object.time_added|timesince}} ago</td>
   </tr>
   <tr>
    <td id="status">{{object.get_status_display}}</td>
    <td id="updated_time" nowrap="nowrap">Last updated {{details.last_updated|timesince}} ago</td>
   </tr>
  </table>
  <table id="details">
   <colgroup>
    <col width="0*" />
    <col width="1*" />
   </colgroup>
   <colgroup>
    <col width="0*" />
    <col width="1*" />
   </colgroup>
   <tr>
    <td class="label"><label for="submitter">Submitter:</label></td>
    <td class="value"><a id="submitter" href="{{object.submitter.get_absolute_url}}">{% firstof object.submitter.get_full_name object.submitter.username %}</a></td>
    <td class="caption" colspan="2">Reviewers</td>
   </tr>
   <tr>
    <td class="label"><label for="branch">Branch:</label></td>
    <td class="value"><span id="branch">{{details.branch}}</span></td>
    <td class="indented label"><label for="target_groups">Groups:</label></td>
    <td class="value"><span id="target_groups">
 {%  for group in details.target_groups.all %}
 <a href="{{group.get_absolute_url}}">{{group}}</a>{%if not forloop.last %}, {%endif %}
 {%  endfor %}
   </span></td>
   </tr>
   <tr>
    <td class="label"><label for="bugs_closed">Bugs Closed:</label></td>
    <td class="value"><span id="bugs_closed">
 {%  for bug in details.get_bug_list %}
    <a href="http://bugzilla/show_bug.cgi?id={{bug}}">{{bug}}</a>{%if not forloop.last %}, {%endif %}
 {%  endfor %}
   </span></td>
    <td class="indented label"><label for="target_people">People:</label></td>
    <td class="value"><span id="target_people">
 {%  for person in details.target_people.all %}
 <a href="{{person.get_absolute_url}}">{{person}}</a>{%if not forloop.last %}, {%endif %}
 {%  endfor %}
   </span></td>
   </tr>
  </table>
  <div class="content">
   <label for="description">Description:</label>
   <pre id="description">{{details.description|escape}}</pre>
  </div>
  <div class="content">
   <label for="testing_done">Testing Done:</label>
   <pre id="testing_done">{{details.testing_done|escape}}</pre>
  </div>
  <!--
  <div class="content">
   <label for="images">Images:</label>
   <div id="images">{{details.images}}</div>
  </div>
  -->
 </div>
 <ul class="controls">
{% ifequal request.user object.submitter %}
{%  if details.public %}
{%    ifequal details.status 'P' %}
  <li><a href="submitted/">Set Submitted</a></li>
  <li><a href="#" onClick="showDiscardBanner();">Discard</a></li>
{%    else %}
  <li><a href="reopen/">Reopen for Review</a></li>
{%    endifequal %}
{%  else %}
  <li><a href="publish/">Publish</a></li>
  <li><a href="#" onClick="showDiscardBanner();">Discard</a></li>
{%  endif %}
  <li><a href="diff/upload/"><img src="/images/upload.png" width="14" height="14" border="0" alt="" /> Upload Diff</a></li>
{% else %}
  <li><a href="scrutinize/">Review</a></li>
{% endifequal %}
{% ifnotequal details.diffset_history.diffset_set.count 0 %}
  <li><a href="diff/"><img src="/images/diff.png" width="17" height="14" border="0" alt="" /> View Diff</a></li>
{% endifnotequal %}
{% ifequal request.user object.submitter %}
  <noscript><li><a href="edit/"><img src="/images/edit.png" width="14" height="14" border="0" alt="" /> Edit</a></li></noscript>
{% endifequal %}
 </ul>
</div>

{% for review in reviews %}
<a name="review{{forloop.counter}}"></a>
<div class="review{% ifequal review.user object.submitter %} fromsubmitter{% endifequal %}">
 <div class="main">
  <div class="header">
   {% if review.ship_it %}<div class="shipit">Ship it!</div>{% endif %}
   <div class="reviewer"><a href="{{review.user.get_absolute_url}}">{% firstof review.user.get_full_name review.user.username %}</a></div>
   <div class="posted_time">Posted {{review.timestamp|timesince}} ago</div>
  </div>
  <div class="body"><pre>{{review.body|embedcomments:review}}</pre></div>
 </div>
 <ul class="controls">
  <li>Reply</li>
 </ul>
</div>
{% endfor %}

{% ifequal request.user object.submitter %}
<script type="text/javascript">
	var dh = YAHOO.ext.DomHelper;

	function onEditComplete(field, value, callback) {
		var updateManager = getEl(field).getUpdateManager();
		updateManager.showLoadIndicator = false;
		getEl(field).load('json/' + field + '/', {value: value}, callback);
		showDraftBanner();
	}

	function registerEditor(field, multiline) {
		var editor = new RB.widgets.InlineEditor({
			el: field,
			multiline: multiline,
			cls: field + '-editor',
			showEditIcon: true,
		});

		editor.on('complete',
			function(editor, value) { onEditComplete(field, value); },
			this, true);
	}

	function registerCommaListEditor(path_prefix, field) {
		var editor = new RB.widgets.InlineCommaListEditor({
			el: field,
			cls: field + '-editor',
			showEditIcon: true,
			useEditIconOnly: true,
			notifyUnchangedCompletion: true,
		});

		editor.on('complete',
			function(editor, value) {
				onEditComplete(field, value,
					function(el, success) {
						var list = editor.getList();
						var str = "";

						for (var i = 0; i < list.length; i++) {
							list[i] = list[i].stripTags().strip();
							str += "<a href=\"" + path_prefix + list[i] + "\">";
							str += list[i] + "</a>";

							if (i < list.length - 1) {
								str += ", ";
							}
						}

						getEl(field).dom.innerHTML = str;
					}
				)
			}
		);
	}

	function disableDraftButtons() {
		getEl('btn-draft-save').dom.setAttribute('disabled', 'disabled');
		getEl('btn-draft-revert').dom.setAttribute('disabled', 'disabled');
	}

	function showServerError(specific) {
		dh.append(getEl('error').dom, {
			tag: 'div', id: 'servererror', children: [
				{tag: 'h1', html: 'Error:'},
				{html: specific + "Please try again later. If this " +
					"continues to happen, please report " +
					"it to your administrator"},
				{tag: 'input', type: 'submit',
				 value: 'Dismiss', onClick: "hideError('servererror');"}
			]
		});
	}

	function hideError(error) {
		var node = getEl(error);
		if (node != null) {
			node.remove();
		}
	}

	function submitDraft() {
		disableDraftButtons();
		YAHOO.util.Connect.asyncRequest('GET', 'draft/save/', {
			success: hideDraftBanner,
			failure: function(response) {
				showServerError('Saving the draft has failed due to a server error.');
			}
		});
	}

	function revertDraft() {
		disableDraftButtons();
		YAHOO.util.Connect.asyncRequest('GET', 'draft/revert/', {
			success: function() { window.location.reload(); },
			failure: function(response) {
				showServerError('Reverting the draft has failed due to a server error');
			}
		});
	}

	function showDraftBanner() {
		if (getEl('draft') == null) {
			dh.append(getEl('banner').dom, {
				tag: 'div', id: 'draft', children: [
					{tag: 'h1', html: 'This is a draft.'},
					{html: ' Be sure to save when finished.'},
					{tag: 'input', type: 'submit', id: 'btn-draft-save',
					 value: 'Save', onClick: 'submitDraft();'},
					{tag: 'input', type: 'submit', id: 'btn-draft-revert',
					 value: 'Revert', onClick: 'revertDraft();'}
				]
			});
		}
	}

	function hideDraftBanner() {
		var node = getEl('draft') || getEl('discard');

		if (node != null) {
			node.remove();
		}
	}

	function showDiscardBanner() {
		dh.append(getEl('banner').dom, {
			tag: 'div', id: 'discard', children: [
				{tag: 'h1', html: 'Confirm Discard?'},
				{html:' This cannot be undone.'},
				{tag: 'input', type: 'submit', value: 'Confirm',
				 onClick: 'discardReview();'},
				{tag: 'input', type: 'submit', value: 'Cancel',
				 onClick: 'hideDraftBanner();'}
			]
		});
	}

	function discardReview() {
		/*
		 * The link that can get us here adds a '#', so it has to be
		 * stripped off.
		 */
		loc = String(window.location);
		window.location = loc.substring(0, loc.length - 1) + 'discard/';
	}

	registerEditor('summary', false);
	registerEditor('branch', false);
	registerEditor('description', true);
	registerEditor('testing_done', true);
	registerCommaListEditor('http://bugzilla/show_bug.cgi?id=', 'bugs_closed');
	registerCommaListEditor('/groups/', 'target_groups');
	registerCommaListEditor('/users/', 'target_people');

{% if draft %}
	showDraftBanner();
{% else %}
	hideDraftBanner();
{% endif %}
</script>
{% endifequal %}
{% endblock %}
