   <li class="reply-comment{% if draft %} draft" id="yourcomment_{{context_id}}-{{id}}-item{% endif %}">
    <dl>
     <dt>
      {% if draft %}<label for="yourcomment_{{context_id}}-{{id}}">{% endif %}
      <a href="{{reply_user.get_absolute_url}}">{% firstof reply_user.get_full_name reply_user.username %}</a>
      <span class="timestamp">{{timestamp|timesince}} ago.</span>
      {% if draft %}</label>{% endif %}
     </dt>
     <dd><pre{% if draft %} id="yourcomment_{{context_id}}-{{id}}"{% endif %}>{{text|escape}}</pre></dd>
    </dl>
   </li>
{% if draft %}
   <script language="javascript">
   registerCommentEditor("{{review.id}}", "{{context_id}}-{{review.id}}", "yourcomment_{{context_id}}-{{id}}");
   </script>
{% endif %}
