{% extends "base_feeds.html" %}
{% load htmlutils %}
{% load reviewtags %}
{% block title %}{% firstof source "All" %} pending review requests{% endblock %}

{% block content %}

{% box reviewlist %}
<h1 class="title">{% firstof source "All" %} pending review requests</h1>
<div class="main">
{% if object_list %}
<table class="list">
 <colgroup>
  <col class="summary" width="100%" />
  <col class="submitter" width="0%" />
  <col class="updated" width="0%" />
 </colgroup>
 <thead>
  <tr class="headers">
   <th>Summary</th>
   <th>Submitter</th>
   <th>Posted</th>
   <th>Last Updated</th>
  </tr>
 </thead>
 <tbody>
{%  for review in object_list %}
  <tr>
   <td class="summary" onclick="javascript:window.location='{{review.get_absolute_url}}';"><a href="{{review.get_absolute_url}}">{% reviewsummary review %}</a></td>
   <td><a href="{{review.submitter.get_absolute_url}}">{{review.submitter}}</a></td>
   <td class="{% ageid review.time_added %}">{{review.time_added|date:"F jS, Y, P"}}</td>
   <td class="{% ageid review.last_updated %}">{{review.last_updated|timesince}} ago</td>
  </tr>
{%  endfor %}
 </tbody>
</table>
{% else %}
<p>No pending reviews.</p>
{% endif %}
</div>
{% endbox %}

{% endblock %}
