{% load djblets_utils %}
{% load i18n %}
   <li class="reply-comment{% if draft %} draft" id="yourcomment_{{context_id}}-{{id}}-item{% endif %}">
    <dl>
     <dt>
      {% if draft %}<label for="yourcomment_{{context_id}}-{{id}}">{% endif %}
      <a href="{% url user reply_user %}">{{reply_user|user_displayname}}</a>
      <span class="timestamp">{% blocktrans with timestamp|timesince as timestamp_since and timestamp|date:"F jS, Y, P" as timestamp_date %}{{ timestamp_since }} ago ({{ timestamp_date }}){% endblocktrans %}</span>
      {% if draft %}</label>{% endif %}
     </dt>
     <dd><pre{% if draft %} id="yourcomment_{{context_id}}-{{id}}"{% endif %}>{{text|escape}}</pre></dd>
    </dl>
   </li>
{% if draft %}
{% endif %}
