{% extends "base_feeds.html" %}
{% load htmlutils %}
{% load reviewtags %}
{% block title %}{% firstof source "All" %} review requests{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
<script type="text/javascript" src="/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/scripts/yui-ext/yui-ext.js"></script>
<script type="text/javascript" src="/scripts/rb/common.js"></script>
{% endblock %}

{% block content %}

{% box "reviewlist" %}
<div class="titlebox">
{% if group %}{% star group %}{% endif %}
 <h1>{% firstof source "All" %} review requests</h1>
 <ul>
{% if show_submitted %}
  <li><a href="?show_submitted=0">Hide submitted</a></li>
{% else %}
  <li><a href="?show_submitted=1">Show submitted</a></li>
{% endif %}
 </ul>
</div>
<div class="main">
{% if object_list %}
<table class="list">
 <colgroup>
  <col class="star" width="0%" />
  <col class="summary" width="100%" />
  <col class="submitter" width="0%" />
  <col class="added" width="0%" />
  <col class="updated" width="0%" />
 </colgroup>
 <thead>
  <tr class="headers">
   <th><img src="/images/star_on.png" width="16" height="15" alt="Starred" /></th>
   {% column_header "summary"      "Summary"      %}
   {% column_header "submitter"    "Submitter"    %}
   {% column_header "time_added"   "Posted"       %}
   {% column_header "last_updated" "Last Updated" %}
  </tr>
 </thead>
 <tbody>
{%  for review in object_list %}
  <tr class="{% cycle odd,even %}">
   <td>{% star review %}</td>
   <td class="summary" onclick="javascript:window.location='{{review.get_absolute_url}}';"><a href="{{review.get_absolute_url}}">{% reviewsummary review %}</a></td>
   <td><a href="{{review.submitter.get_absolute_url}}">{{review.submitter}}</a></td>
   <td class="{% ageid review.time_added %}">{{review.time_added|date:"F jS, Y, P"}}</td>
   <td class="{% ageid review.last_updated %}">{{review.last_updated|timesince}} ago</td>
  </tr>
{%  endfor %}
 </tbody>
</table>
{%  if is_paginated %}
{%   paginator %}
{%  endif %}
{% else %}
<p>No pending reviews.</p>
{% endif %}
</div>
{% endbox %}

{% endblock %}
