{% extends "base.html" %}
{% load djblets_deco %}
{% load i18n %}
{% load reviewtags %}

{% block title %}{% trans "Screenshot" %}{%if screenshot.caption %}: {{screenshot.caption}}{% endif %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/diffviewer.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/reviews.css" />
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-ui-1.6rc1.packed.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery.gravy.js"></script>
<script language="javascript" src="{{MEDIA_URL}}rb/js/common.js"></script>
<script language="javascript" src="{{MEDIA_URL}}rb/js/reviews.js"></script>
<script language="javascript" src="{{MEDIA_URL}}rb/js/screenshots.js"></script>
{% include "reviews/review_flags.html" %}
<script language="javascript">
  var gScreenshotId = '{{screenshot.id}}';
</script>
{% endblock %}

{% block content %}
{% box "review-request"%}
 <ul id="actions">
{% include "reviews/review_request_actions_secondary.html" %}
 <li class="primary"><a href="diff/raw/">{% trans "Download Diff" %}</a></li>
{% include "reviews/review_request_actions_primary.html" %}
  <li class="primary"><a href="{{review_request.get_absolute_url}}">{% trans "View Reviews" %}</a></li>
{% if review_request_details.diffset or review_request.diffset_history.diffsets.count %}
 <li class="primary"><a href="{{review_request.get_absolute_url}}diff/#index_header">{% trans "View Diff" %}</a></li>
{% endif %}
 </ul>

{% include "reviews/review_request_dlgs.html" %}

 <div class="main">
  <h1 id="summary"><a href="{{review_request.get_absolute_url}}">{{review_request.summary}}</a></h1>
  <div class="content">
  {% trans "Screenshots:" %}<br />
{% include "reviews/screenshotindex.html" %}
  </div>
 </div>
{% endbox %}

<div id="screenshot-display">
 <img src="{{screenshot.image.url}}" alt="{{screenshot.caption}}" />
</div>

{% include "reviews/comments_dlg.html" %}

<script language="javascript">
  $(document).ready(function() {
	  $("#screenshot-display").screenshotCommentBox(
		{% screenshotcommentcounts screenshot %});
	});
</script>

{% include "reviews/screenshotindex.html" %}

{% endblock %}
