{% extends "base.html" %}
{% load reviewtags %}
{% load htmlutils %}
{% block title %}All submitters{% endblock %}

{% block content %}
{% box submitterlist %}
<h1 class="title">All submitters</h1>
<div class="main">
{% if object_list %}
<table class="list">
 <colgroup>
  <col class="name" />
  <col class="reviewcount" width="1*" />
 </colgroup>
 <tr>
  <th>Name</th>
  <th>Pending Reviews</th>
 </tr>
{% for submitter in object_list %}
 <tr class="{% cycle odd,even %}">
  <td><a href="{{submitter}}">{{submitter}}</a></td>
  <td>{% pendingreviewcount submitter %}</td>
 </tr>
{% endfor %}
</table>
{% if is_paginated %}
Results <b>{{first_on_page}} - {{last_on_page}}</b> of <b>{{hits}}</b>
{% if has_previous %}<a class="pagination" href="?page={{previous}}">&larr;Previous {{results_per_page}}</a>{% endif %}
{% if has_next %}<a class="pagination" href="?page={{next}}">&rarr;Next {{results_per_page}}</a>{% endif %}
{% endif %}
{% else %}
<p>No submitters.</p>
{% endif %}
</div>
{% endbox %}

{% endblock %}
