{% extends "base.html" %}
{% load datagrid %}
{% load reviewtags %}
{% load htmlutils %}
{% block title %}All submitters{% endblock %}

{% block content %}
{% box "submitterlist" %}
<h1 class="title">All submitters</h1>
<div class="main">
{% if object_list %}
<table class="list">
 <colgroup>
  <col class="name" width="25%" />
  <col class="name" width="75%" />
  <col class="reviewcount" />
 </colgroup>
 <tr class="headers">
  <th>Name</th>
  <th>Full Name</th>
  <th>Pending Reviews</th>
 </tr>
{% for submitter in object_list %}
 <tr class="{% cycle odd,even %}">
  <td><a href="{{submitter}}/">{{submitter}}</a></td>
  <td><a href="{{submitter}}/">{{submitter.get_full_name}}</a></td>
  <td>{% pendingreviewcount submitter %}</td>
 </tr>
{% endfor %}
</table>
{%  if is_paginated %}
{%   paginator %}
{%  endif %}
{% else %}
<p>No submitters.</p>
{% endif %}
</div>
{% endbox %}

{% endblock %}
