{% extends "base.html" %}
{% load htmlutils %}
{% block title %}Upload screenshot{% endblock %}

{% block content %}
{% box "upload" %}
<form method="post" enctype="multipart/form-data" action=".">
 <h1 class="title">Upload screenshot</h1>
 <table id="upload_screenshot_form">
  <tr>
   <td><label for="id_path">Filename:</label></td>
   <td>{{form.path}} {{form.path.errors}}</td>
  </tr>
  <tr>
   <td><label for="id_caption">Caption:</label></td>
   <td>{{form.caption}} {{form.caption.errors}}</td>
  </tr>
  <tr>
   <td>&nbsp;</td>
   <td class="field"><input type="submit" value="Upload" /></td>
  </tr>
 </table>
</form>
{% endbox %}
{% endblock %}
