{% load i18n %}
<ol class="index" start="{{page_start_index}}">
{% for file in files %}
 <li class="change_file_{{file.index}}"><a href="#{{file.index}}" onclick="return !gotoAnchor('{{file.index}}');">{{file.depot_filename}}</a>:
  <img src="{{MEDIA_URL}}rb/images/spinner.gif?{{MEDIA_SERIAL}}"
       width="10" height="10" alt="{% trans "Loading..." %}" />
 </li>
{% endfor %}
</ol>
{% if is_paginated %}
 {% blocktrans %}This diff has been split across {{ pages }} pages:{% endblocktrans %}
 {% if has_previous %}<span class="paginate-previous"><a href="?page={{ previous_page }}" title="{% trans "Previous Page" %}">&lt;</a></span>{% endif %}
 {% for num in page_numbers %}
  {% ifequal num page %}
   <span class="paginate-current" title="{% trans "Current Page" %}">{{ num }}</span>
  {% else %}
   <span class="paginate-link"><a href="?page={{ num }}" title="{% blocktrans %}Page {{ num }} {% endblocktrans %}">{{ num }}</a></span>
  {% endifequal %}
 {% endfor %}
 {% if has_next %}<span class="paginate-next"><a href="?page={{ next_page }}" title="{% trans "Next Page" %}">&gt;</a></span>{% endif %}
{% endif %}
