<ol class="index">
{% for file in files %}
 <li><a href="#{{file.index}}" onclick="return !gotoAnchor('{{file.index}}');">{{file.user_filename}}</a>:
     {{ file.num_changes }} change{{ file.num_changes|pluralize }} [ {% spaceless %}
{%  for chunk in file.chunks %}
{% ifnotequal chunk.change "" %}
<a href="#{{file.index}}.{{chunk.index}}" onClick="return !gotoAnchor('{{file.index}}.{{chunk.index}}');">{{chunk.index}}</a>
{% endifnotequal %}
{%  endfor %}
{% endspaceless %} ]</li>
{% endfor %}
</ol>
