{% load i18n %}
<ol class="index">
{% for file in files %}
 <li><a href="#{{file.index}}" onclick="return !gotoAnchor('{{file.index}}');">{{file.depot_filename}}</a>:
 {% if file.binary %}
  {% trans "binary file" %}
 {% else %}
  {% blocktrans count file.num_changes as counter %}
  1 change
  {% plural %}
  {{ counter }} changes
  {% endblocktrans %} [
   {% ifequal file.chunks.__len__ 1 %}
    <a href="#{{file.index}}.{{file.chunks.0.index}}" onClick="return !gotoAnchor('{{file.index}}.{{file.chunks.0.index}}');"> {% ifequal file.chunks.0.change "insert" %}new content{% endifequal %}{% ifequal file.chunks.0.change "delete" %}deleted content{% endifequal %}</a>
   {% else %}
    {% for chunk in file.changed_chunks %}
     <a href="#{{file.index}}.{{chunk.index}}" onClick="return !gotoAnchor('{{file.index}}.{{chunk.index}}');">{{forloop.counter}}</a>
    {%  endfor %}
   {% endifequal %}
]</li>
 {% endif %}
{% endfor %}
</ol>
{% if is_paginated %}
 This diff has been split across {{ pages }} pages:
 {% if has_previous %}<span class="paginate-previous"><a href="?page={{ previous_page }}" title="Previous Page">&lt;</a></span>{% endif %}
 {% for num in page_numbers %}
  {% ifequal num page %}
   <span class="paginate-current" title="Current Page">{{ num }}</span>
  {% else %}
   <span class="paginate-link"><a href="?page={{ num }}" title="Page {{ num }}">{{ num }}</a></span>
  {% endifequal %}
 {% endfor %}
 {% if has_next %}<span class="paginate-next"><a href="?page={{ next_page }}" title="Next Page">&gt;</a></span>{% endif %}
{% endif %}
