{% load i18n %}
<div id="comment-dlg" style="visibility:hidden;position:absolute;top:0px;">
 <div class="ydlg-hd">{% trans "Comments" %}</div>
 <div class="ydlg-bd">
  <div id="tab-comments" class="ydlg-tab" title="{% trans "Comments" %}">
   <div id="existing-comments"></div>
   <form id="commentform" class="comment draft" method="post" action="comments/">
	<input type="hidden" name="action" id="id_comment_action" value="" />
	<input type="hidden" name="num_lines" id="id_num_lines" value="" />
    <label id="id_comment_label" for="id_comment">Your comment:</label><br />
	<textarea id="id_comment" name="text" rows="4" cols="20"></textarea>
   </form>
  </div>
 </div>
 <div id="tab-review" class="ydlg-tab" title="{% trans "Review" %}">
  <form id="reviewform" method="post">
   <input type="hidden" name="diff_revision" value="{{diffset.revision}}" />
{% if interdiffset %}
   <input type="hidden" name="interdiff_revision" value="{{interdiffset.revision}}" />
{% endif %}
   <input id="id_shipit" type="checkbox" name="shipit" value="shipit" {% if review and review.shipit %}checked="checked" {% endif %}/>{% trans "Ship It!" %}<br />
   <label for="id_body_top">{% trans "Review Body:" %}</label>
   <div id="review-body">
    <textarea id="id_body_top" name="body_top" rows="5" cols="20">{% if review %}{{review.body_top|escape}}{% endif %}</textarea>
    <div id="all-review-comments"><i>{% trans "Comments will be displayed here" %}</i></div>
    <textarea id="id_body_bottom" name="body_bottom" rows="5" cols="20">{% if review %}{{review.body_bottom|escape}}{% endif %}</textarea>
   </div>
  </form>
 </div>
</div>
