{% load difftags %}
{% load htmlutils %}
{% if standalone and error %}
{{error}}
{% endif %}
{% if not standalone %}
<table class="sidebyside" id="file{{file.index}}">
 <colgroup>
  <col class="controls" />
  <col class="line" />
  <col class="left" />
  <col class="right" />
 </colgroup>
 <thead>
  <tr onClick="gotoAnchor('{{file.index}}');">
   <th rowspan="2" class="controls">&nbsp;</th>
   <th rowspan="2" >&nbsp;</th>
   <th colspan="2">{{ file.depot_filename }}</th>
  </tr>
  <tr>
   <th class="rev">{{file.revision}}</th>
   <th class="rev">New Change</th>
  </tr>
 </thead>
{% endif %}
{% if file.binary %}
 <tbody class="binary">
  <tr>
   <td colspan="2">&nbsp;</td>
   <td colspan="2">This is a binary file. The content cannot be displayed.</td>
  </tr>
 </tbody>
{% else %}
{% for chunk in file.chunks %}
{%  if not chunk.collapsable or not collapseall %}
 <tbody id="chunk{{file.index}}.{{chunk.index}}"{% ifnotequal chunk.change "equal" %} class="{{chunk.change}}"{% else %}{% if chunk.collapsable %} class="collapsable"{% endif %}{% endifnotequal %}>
{% for line in chunk.lines %}
  <tr{% attr "class" %}{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}{% endattr %}>
{% if forloop.first %}
   <th class="controls">{% ifnotequal chunk.index None %}<a name="{{file.index}}.{{chunk.index}}"></a>{% endifnotequal %}&nbsp;</th>
   <th>{{line.0}}</th>
{% else %}
   <th colspan="2">{{line.0}}</th>
{% endif %}
{% ifequal chunk.change "replace" %}
   <td><pre>{{ line.1|highlightregion:line.2|showextrawhitespace }}</pre></td>
   <td><pre>{{ line.3|highlightregion:line.4|showextrawhitespace }}</pre></td>
{% else %}
   <td><pre>{{ line.1|showextrawhitespace }}</pre></td>
   <td><pre>{{ line.3|showextrawhitespace }}</pre></td>
{% endifequal %}
  </tr>
{% endfor %}
 </tbody>
{% else %}
 <tbody class="collapsed" id="collapsed-chunk{{file.index}}.{{forloop.counter0}}">
  <tr>
   <th class="controls">&nbsp;</th>
   <th>...</th>
   <td colspan="2">{{ chunk.numlines }} line{{chunk.numlines|pluralize}} hidden [<a href="#" onclick="javascript:expandChunk('file{{file.index}}', '{{file.filediff.id}}', '{{forloop.counter0}}', 'collapsed-chunk{{file.index}}.{{forloop.counter0}}'); return false;">Expand</a>]</td>
  </tr>
 </tbody>
{% endif %}
{% endfor %}
{% endif %}
{% if not standalone %}
</table>
{% endif %}
