{% extends "base.html" %}
{% load difftags %}
{% block title %}Diff Viewer{% endblock %}

{% block content %}
<div id="diffs">
{% if error %}
{{ error }}
{% else %}
<ol id="index">
{% for file in files %}
 <li><a href="#{{file.index}}">{{file.user_filename}}</a>:
     {{ file.num_chunks }} change{{ file.num_chunks|pluralize }} [
{%  for chunk in file.chunks %}
{% ifnotequal chunk.1 "" %}
<a href="#{{file.index}}.{{chunk.0}}">{{ chunk.0 }}</a>
{% endifnotequal %}
{%  endfor %}
]</li>
{% endfor %}
</ol>

{% for file in files %}
<a name="{{file.index}}"></a>
<table class="sidebyside">
 <colgroup>
  <col class="left" width="50%" />
  <col class="right" width="50%" />
 </colgroup>
 <thead>
  <tr>
   <td>{{ file.depot_filename }}</td>
   <td>{{ file.user_filename }}</td>
  </tr>
 </thead>
 <tbody>
{% for chunk in file.chunks %}
{% sidebyside_diffline %}
{% endfor %}
 </tbody>
</table></li>
{% endfor %}
{% endif %}
</div>
{% endblock %}
