{% extends "base.html" %}
{% load difftags %}
{% block title %}Diff Viewer{% endblock %}

{% block content %}
<div id="diffs">
{% for file in files %}
<table class="sidebyside">
 <colgroup>
  <col class="left" width="50%" />
  <col class="right" width="50%" />
 </colgroup>
 <thead>
  <tr>
   <td>{{ file.depot_filename }}</td>
   <td>{{ file.user_filename }}</td>
  </tr>
 </thead>
 <tbody>
{% spaceless %}
{% for line in file.lines %}
{% sidebyside_diffline %}
{% endfor %}
{% endspaceless %}
 </tbody>
</table></li>
{% endfor %}
</div>
{% endblock %}
