<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>Review Board | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
 </head>
 <body>
  <div id="container">
   <div id="headbar">
    <h1><a href="/"><span>Review Board</span></a></h1>
   </div>
   <div id="content">
{% block content %}{% endblock %}
   </div>
  </div>
 </body>
</html>
