<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>Review Board | {% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
{% block extrahead %}{% endblock %}
  <!--[if lt IE 7.]>
  <link rel="stylesheet" type="text/css" href="/css/ie_hacks.css"></script>
  <![endif]-->
 </head>
{% block bodytag %}
 <body>
{% endblock %}
  <div id="container">
   <div id="headbar">
    <h1 id="title"><a href="/">Review Board</a></h1>
    <h2 id="beta">beta</h2>

    <ul id="accountnav">
    {% if user.is_authenticated %}
     <li>Welcome, <b>{% ifnotequal user.get_full_name "" %}{{user.get_full_name|escape}}{% else %}{{user.username|escape}}{% endifnotequal %}</b></li>
     <li>- <a href="/account/preferences/">My account</a></li>
     <li>- <a href="/account/logout/">Log out</a></li>
    {% else %}
     <li><a href="/account/login/">Log in</a></li>
     <li>- <a href="/account/register/">Register</a></li>
    {% endif %}
     <li>- <a href="http://code.google.com/p/reviewboard/issues/list">Bugs</a></li>
     <li>- <a href="http://code.google.com/p/reviewboard/issues/entry">Report bug</a></li>
    </ul>
   </div>
   <ul id="navbar">
{% if user.is_authenticated %}
    <li><a href="/dashboard/">My Dashboard</a></li>
    <li><a href="/r/new/">New Review Request</a></li>
    <li>-</li>
{% endif %}
    <li><a href="/r/">All review requests</a></li>
    <li><a href="/groups/">Groups</a></li>
    <li><a href="/users/">Submitters</a></li>
   </ul>
   <div id="content">
{% block content %}{% endblock %}
   </div>
  </div>
 </body>
</html>
