<div id="paginator">
{% if show_first %}<a href="?page=1" title="First Page">&laquo;</a></span>{% endif %}
{% if has_previous %}<a href="?page={{previous}}" title="Previous Page">&lt;</a></span>{% endif %}
{% for pagenum in page_numbers %}
{%  ifequal pagenum page %}
<span class="current-page">{{pagenum}}</span>
{%  else %}
<a href="?page={{pagenum}}" title="Page {{pagenum}}">{{pagenum}}</a>
{%  endifequal %}
{% endfor %}
{% if has_next %}<a href="?page={{next}}" title="Next Page">&gt;</a></span>{% endif %}
{% if show_last %}<a href="?page={{pages}}" title="Last Page">&raquo;</a></span>{% endif %}
<span class="page-count">{{pages}} pages</span>
</div>
