{% extends 'base.html' %}
{% load djblets_deco i18n pipeline %}

{% block title %}{% blocktrans with application_name=application.name %}Authorize {{application_name}}{% endblocktrans %}{% endblock title %}

{% block css %}
{{block.super}}
{%  stylesheet 'oauth' %}
{% endblock css %}

{% block content %}
{%  if not error %}

{%   box 'oauth-authorize' %}
<div class="box-head">
 <h1 class="box-title">{% blocktrans with application_name=application.name %}Authorize {{application_name}}?{% endblocktrans %}</h1>
</div>
<div class="box-main box-foot">
 <form method="POST" action="." class="rb-c-form -is-aligned">
  <fieldset class="rb-c-form-fieldset">
   {% csrf_token %}
{%    for field in form %}
{%     if field.is_hidden %}
   {{field}}
{%     endif %}
{%    endfor %}
{%    if scopes_descriptions %}
   <p>{% trans 'This application requires the following permissions:' %}</p>
   <ul>
{%     for scope in scopes_descriptions %}
    <li>{{scope}}</li>
{%     endfor %}
   </ul>
{%    else %}
   <p>{% trans 'This application is not requesting any permissions.' %}</p>
{%    endif %}

   {{form.errors}}
   {{form.non_field_errors}}
  </fieldset>

  <div class="rb-c-form__actions">
   <input type="submit" class="ink-c-button -is-primary" name="allow" value="{% trans 'Authorize' %}">
   <input type="submit" class="ink-c-button -is-danger" value="{% trans 'Cancel' %}">
  </div>
 </form>
</div>
{%  endbox %}
{%  else %}
{%   box 'oauth-authorize-error' %}
<div class="box-head">
 <h1 class="box-title">{% blocktrans with err_msg=error.error %}Error: {{err_msg}}{% endblocktrans %}</h1>
</div>
<div class="box-main box-foot">
 <p>{{error.description}}</p>
</div>
{%   endbox %}
{%  endif %}
{% endblock content %}
