/****************************************************************************
 * New Review Request
 ****************************************************************************/
.new-review-request {
  background-color: #fefadf;
  background-image: url('../images/review_request_box_top_bg.png');
}

.new-review-request label {
  color: #575012;
  font-weight: bold;
}

.new-review-request table td {
  padding: 5px;
}

.new-review-request .box-inner {
  background-image: url('../images/review_request_box_bottom_bg.png');
}


/****************************************************************************
 * Review Request Box
 ****************************************************************************/
.inline-editor-form.summary-editor {
  margin-top: -2px;
  margin-left: -3px;
}

.review-request {
  background-color: #fefadf;
  background-image: url('../images/review_request_box_top_bg.png');
}

.review-request label {
  color: #575012;
  font-weight: bold;
}

.review-request noscript form {
  margin: 10px 5px 5px 5px;
  text-align: right;
}

.review-request textarea {
  border: 1px #b8b5a0 solid;
  height: 1.5em;
  overflow: hidden;
}

.review-request .box-inner {
  background-image: url('../images/review_request_box_bottom_bg.png');
}

.review-request .content {
  margin: 5px;
  padding: 0;
}

.review-request .content img {
  border: none;
}

.review-request .content label {
  display: block;
  margin-top: 20px;
  min-height: 15px;;
}

.review-request .content label img {
  vertical-align: middle;
}

.review-request .content pre {
  background-color: #FFFFFF;
  border: 1px #b8b5a0 solid;
  margin: 5px 0 0 0;
  padding: 10px;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.review-request .controls {
  list-style: none;
  margin: 0;
  padding: 0px 8px 4px 8px;
  text-align: right;
}

.review-request .controls a {
  color: black;
  text-decoration: none;
}

.review-request .controls a:hover {
  color: #0000C0;
}

.review-request .controls img {
  vertical-align: bottom;
}

.review-request .controls li {
  display: inline;
  padding-left: 8px;
}

.review-request .header {
  margin: 5px;
}

.review-request .star {
  float: left;
  margin-right: 10px;
}

.review-request #details {
  border-bottom: 1px #c2c1b0 solid;
  border-spacing: 8px;
  border-top: 1px #c2c1b0 solid;
  margin-top: 5px;
  padding: 5px 0px;
  width: 100%;
}

.review-request #details .caption {
  color: #39350b;
  font-weight: bold;
  white-space: nowrap;
}

.review-request #details .indented {
  padding-left: 20px;
}

.review-request #details .label {
  text-align: right;
  white-space: nowrap;
}

.review-request #details #target_people .inactive {
  text-decoration: line-through;
}

.review-request #diff_revision {
  font-weight: bold;
  text-align: right;
  vertical-align: bottom;
}

.review-request #status {
  color: #39350b;
  margin: 5px 0;
}

.review-request #summary {
  display: inline;
  font-size: 130%;
}

.review-request #summary a {
  color: black;
}

.review-request #summary_wrapper {
  margin-right: 10em;
  padding: 0px;
}

.review-request #summary_wrapper label {
  font-size: 130%;
}

.review-request #topcontrols {
  float: right;
  list-style: none;
  margin: -1px -1px 0 0;
  padding: 0px;
  white-space: nowrap;
}

.review-request #topcontrols a {
  color: black;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.review-request #topcontrols img {
  vertical-align: middle;
}

.review-request #topcontrols li {
  background-color: #B6CCE3;
  border: 1px #3465A4 solid;
  font-size: 120%;
}

.review-request #updated_time,
.review-request #created_time {
  text-align: right;
  vertical-align: bottom;
}

#review_request_form input[type='text'],
#review_request_form textarea {
  width: 400px;
}


/****************************************************************************
 * Reviews
 ****************************************************************************/
.review {
  background-color: #e9edf5;
  background-image: url('../images/review_box_top_bg.png');
}

.review .body {
  background-color: #FAFAFA;
  border: 1px #AAAAAA solid;
  clear: both;
  margin: 5px;
  padding: 10px;
}

.review .body pre {
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.review .body .body_top,
.review .body .body_bottom {
  margin: 0px;
}

.review .box-inner {
  background-image: url('../images/review_box_bottom_bg.png') !important;
}

.review .controls {
  list-style: none;
  margin: 0;
  padding: 0px 8px 4px 8px;
  text-align: right;
}

.review .body .controls a {
  text-decoration: none;
}

.review .diff-comments dd {
  margin-bottom: 20px;
}

.review .diff-comments dt thead th {
  font-weight: normal;
}

.review .diff-comments .filename a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.review .diff-comments .screenshot {
  background: #F0F0F0;
  border: 1px #C0C0C0 solid;
  font-size: 120%;
}

.review .diff-comments .screenshot .filename {
  display: block;
  margin: 0;
  padding: 5px 10px;
}

.review .diff-comments .screenshot img {
  padding: 5px;
}

.review .header {
  padding: 2px 4px;
}

.review .header a {
  color: black;
  text-decoration: none;
}

.review .reviewer {
  float: left;
  font-weight: bold;
}

.review .posted_time {
  text-align: right;
}

.review .reply-comments {
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.review .reply-comments .reply-comment {
  display: inline;
}

.review .reply-comments .reply-comment dd {
  margin-left: 10px;
}

.review .reply-comments .reply-comment dl {
  border-left: 2px #D0D0D0 solid;

  /*
   * Set a border-bottom to prevent a bug in IE where, without a border-bottom,
   * the content of the dl will shift left by the border-left size for every
   * following item.
   */
  border-bottom: 1px #FAFAFA solid;
  margin: 0px;
  padding: 5px;
}

.review .reply-comments .reply-comment dt a {
  color: #AB5603;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.review .reply-comments .reply-comment.draft dt a {
  color: #4e9a06;
}

.review .reply-comments .reply-comment dt span {
  color: #487858;
  font-weight: normal;
}

.review .shipit {
  background: #aeff60;
  border: 1px #888888 solid;
  font-weight: bold;
  left: -10px;
  margin-bottom: 8px;
  padding: 4px 8px;
  position: relative;
  width: 4.5em;
  top: -8px;
}


/****************************************************************************
 * Change Descriptions
 ****************************************************************************/
#changedescription {
  background-color: #FFFFFF;
  border: 1px #b8b5a0 solid;
  margin: 5px 0 0 0;
  padding: 10px;
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.changedesc {
  background-color: #fefadf;
  background-image: url('../images/review_request_box_top_bg.png');
}

.changedesc .body {
  background-color: #FAFAFA;
  border: 1px #AAAAAA solid;
  clear: both;
  margin: 5px;
  padding: 10px;
}

.changedesc .body pre {
  white-space: pre-wrap;      /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, 1999+ */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.changedesc .box-inner {
  background-image: url('../images/review_request_box_bottom_bg.png') !important;
}

.changedesc .header {
  padding: 2px 4px;
}

.changedesc .header a {
  color: black;
  text-decoration: none;
}

.changedesc .header b {
  float: left;
  font-weight: bold;
}

.changedesc .header .posted_time {
  text-align: right;
}

.changedesc label {
  color: #575012;
  font-weight: bold;
}

.changedesc ul {
  padding-left: 2em;
  margin-bottom: 10px;
}

/****************************************************************************
 * Screenshots
 ****************************************************************************/
.screenshot-caption {
  margin-top: 2px;
}

.screenshot-caption img {
  vertical-align: bottom;
}

.screenshot-container {
  float: left;
  margin-right: 10px;
  max-width: 400px;
  text-align: center;
  vertical-align: top;
}

.screenshot-container img {
  margin: 0 auto;
}

#screenshot-display {
  border: 1px #777777 solid;
  cursor: crosshair;
  padding: 10px;
}

#screenshot-display img {
  display: block;
  margin: 0 auto;
}

#screenshot-display .selection {
  border: 1px #a1c0e3 solid;
  position: absolute;
}

#screenshot-display .selection-flag {
  background-color: #a1c0e3;
  cursor: pointer;
  height: 16px;
  left: 0px;
  text-align: center;
  top: 0px;
  width: 16px;
}

#screenshot-display .selection.draft {
  border: 1px #aceb6f solid;
}

#screenshot-display .selection-flag.draft {
  background-color: #aceb6f;
}

#screenshot-display #selection-container {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

#screenshot-display #selection-interactive {
  border: 1px #ff0000 dashed;
  position: absolute;
  visibility: hidden;
}


/****************************************************************************
 * Banners
 ****************************************************************************/
#discard-banner,
#submitted-banner {
  background: #E0E0E0;
  border: 1px #808080 solid;
}


/****************************************************************************
 * Auto-complete widget
 ****************************************************************************/
/* Widget */
.yui-skin-sam .yui-ac
{
  position: relative;
}

/* Results container */
.yui-skin-sam .yui-ac-container
{
  width: 100%;
}

/* Content container wrapper */
.yui-skin-sam .yui-ac-content
{
  background: #ffffff;
  border: 1px solid #808080;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9050;
}

/* Footer */
.yui-skin-sam .yui-ac-ft {
  background: #ECECEC;
  border-top: 1px #C0C0C0 solid;
  padding: 3px 6px;
}

/* Container shadow */
.yui-skin-sam .yui-ac-shadow
{
  background: #000;
  filter: alpha(opacity=10);
  margin: 0.3em;
  -moz-opacity: 0.10;
  opacity: .10;
  position: absolute;
  width: 100%;
  z-index: 9049;
}

/* Results list */
.yui-skin-sam .yui-ac-content ul
{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Result item */
.yui-skin-sam .yui-ac-content li
{
  cursor: pointer;
  margin: 0;
  padding: 3px 6px;
  white-space: nowrap;
}

/* Pre-highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight
{
  background: #9cc2eb;
}

/* Highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-highlight
{
  background: #71a5db;
  color: #FFF;
}

/* !(*%!(&^ (see http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
