{% load i18n %}
{% load staticfiles %}
<div id="diff_index">
 <table>
{% for file in files %}
  <tr class="loading {% spaceless %}
{%  if file.newfile %}new-file{% endif %}
{%  if file.binary %}binary-file{% endif %}
{%  if file.deleted %}deleted-file{% endif %}
{%  if file.dest_filename != file.depot_filename %}renamed-file{% endif %}
{% endspaceless %}">
   <td class="diff-file-icon"></td>
   <td class="diff-file-info">
    <a href="#{{file.index}}">{{file.dest_filename}}</a>
{% if file.dest_filename != file.depot_filename %}
    <span class="diff-file-rename">
     Was {{file.depot_filename}}
    </span>
{% endif %}
   </td>
   <td class="diff-chunks-cell">
{% if file.binary %}
    {% trans "Binary file" %}
{% elif file.deleted %}
    {% trans "Deleted" %}
{% else %}
    <div class="diff-chunks"></div></td>
{% endif %}
   </td>
  </tr>
{% endfor %}
 </table>
</div>
