{% load i18n %}
<a href="#{{file.index}}" onclick="return !gotoAnchor('{{file.index}}');">{{file.depot_filename}}</a>:
{% if error %}
{%  trans "Diff currently unavailable." %}
{% else %}
{%  if file.binary %}
{%   trans "binary file" %}
{%  else %}
{%   blocktrans count file.num_changes as counter %}
 1  change
{%    plural %}
 {{counter}} changes
{%   endblocktrans %} [
{%   ifequal file.chunks|length 1 %}
    <a href="#{{file.index}}.{{file.chunks.0.index}}" onClick="return !gotoAnchor('{{file.index}}.{{file.chunks.0.index}}');"> {% ifequal file.chunks.0.change "insert" %}new content{% endifequal %}{% ifequal file.chunks.0.change "delete" %}deleted content{% endifequal %}</a>
{%   else %}
{%    for chunk in file.changed_chunks %}
     <a href="#{{file.index}}.{{chunk.index}}" onClick="return !gotoAnchor('{{file.index}}.{{chunk.index}}');">{{forloop.counter}}</a>
{%    endfor %}
{%   endifequal %}
 ]
{%  endif %}{# !binary #}
{% endif %}{# !error #}
