{% load i18n %}
{% load difftags %}
{% load djblets_deco %}
{% load djblets_utils %}
{% load static %}
{% if standalone and error %}
{{error}}
{% endif %}

{% if file.changed_chunk_indexes or file.binary or file.deleted or file.moved %}
{%  if not standalone %}
<table class="sidebyside{% if not file.interfilediff and file.newfile %} newfile{% endif %}" id="file{{file.filediff.id}}">
 <colgroup>
  <col class="line" />
  <col class="left" />
  <col class="line" />
  <col class="right" />
 </colgroup>
 <thead>
  <tr onClick="gotoAnchor('{{file.index}}');">
{%   if file.dest_filename == file.depot_filename %}
   <th colspan="4"><a name="{{file.index}}" class="file-anchor"></a>{{ file.depot_filename }}</th>
{%   else %}
   <th colspan="2"><a name="{{file.index}}" class="file-anchor"></a>{{ file.depot_filename }}</th>
   <th colspan="2">{{ file.dest_filename }}{% if file.moved %}{% trans " (moved)" %}{% endif %}</th>
{%   endif %}{# file.dest_filename == file.depot_filename #}
  </tr>
  <tr>
{%   if file.moved and file.num_changes == 0 %}
   <th colspan="4" class="rev">{% trans "No changes were made to this file." %}</th>
{%   else %}
   <th colspan="2" class="rev">{{file.revision}}</th>
   <th colspan="2" class="rev">{{file.dest_revision}}</th>
{%   endif %}{# num_changes and moved #}
  </tr>
 </thead>
{%  endif %}{# not standalone #}
{%  if file.binary %}
 <tbody class="binary">
  <tr>
   <td colspan="4">{% trans "This is a binary file. The content cannot be displayed." %}</td>
  </tr>
 </tbody>
{%  elif file.deleted %}
 <tbody class="deleted">
  <tr>
   <td colspan="4">{% trans "This file was deleted. The content cannot be displayed." %}</td>
  </tr>
 </tbody>
{%  elif file.whitespace_only %}
    <tbody class="whitespace-file">
     <tr>
      <td colspan="4">{% trans "This file contains only whitespace changes." %}</td>
     </tr>
    </tbody>
{%  else %}
{%   for chunk in file.chunks %}
{%    if not chunk.collapsable or not collapseall %}
 <tbody id="chunk{{file.index}}.{{chunk.index}}"{% attr "class" %}{% if chunk.change != "equal" %}{{chunk.change}}{% if chunk.meta.whitespace_chunk%} whitespace-chunk{% endif %}{% else %}{% if chunk.collapsable %} collapsable{% endif %}{% endif %}{% if standalone %} loaded{% endif %}{% endattr %}>
{%     for line in chunk.lines %}
  <tr line="{{line.0}}"{% if chunk.change != "equal" %} {% attr "class" %}{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %} {% if line.7 %}whitespace-line{% endif %}{% endattr %}{% endif %}>
{%      if forloop.first %}
   <th>{% if chunk.change != 'equal' %}<a name="{{file.index}}.{{chunk.index}}" class="chunk-anchor"></a>{% endif %}{{line.1}}</th>
{%      else %}
   <th>{{line.1}}</th>
{%      endif %}
{%      if chunk.change == "replace" %}
   <td><pre>{{ line.2|highlightregion:line.3|showextrawhitespace }}</pre></td>
   <th>{{line.4}}</th>
   <td><pre>{{ line.5|highlightregion:line.6|showextrawhitespace }}</pre></td>
{%      else %}
   <td>{% if chunk.change == 'insert' and line.8 %}
    <a href="#" class="moved-from" line="{{line.8}}" target="{{line.4}}">{% trans "Moved from" %} {{line.8}}</a>
    {% endif %}
{% if standalone and forloop.first and chunk.change == 'equal' %}
    <div>
     <img src="{% static "rb/images/diff-collapse.png" %}" width="14" height="14" alt="{% trans "Collapse lines" %}" title="{% trans "Collapse lines" %}" class="diff-collapse-btn" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', 0, this); return false;" />
{% endif %}
    <pre>{{line.2|showextrawhitespace}}</pre>
{% if standalone and forloop.first and chunk.change == 'equal' %}
    </div>
{% endif %}
   </td>
   <th>{{line.4}}</th>
   <td>{% if chunk.change == 'delete' and line.8 %}
    <a href="#" class="moved-to" line="{{line.8}}" target="{{line.1}}">{% trans "Moved to" %} {{line.8}}</a>
    {% endif %}
    <pre>{{line.5|showextrawhitespace}}</pre>
   </td>
{%      endif %}
  </tr>
{%     endfor %}
 </tbody>
{%    else %}
 <tbody class="diff-header" id="collapsed-chunk{{file.index}}.{{chunk.index}}">
  <tr>
   <th>
{% if chunk.index != 0 %}
    <a href="#" title="{% trans "Expand 20 lines above" %}" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', '{{lines_of_context.0|add:20}},{{lines_of_context.1}}', this); return false;">
     <img src="{% static "rb/images/diff-expand-above.png" %}" width="28" height="14" alt="[+20]" />
    </a>
{% endif %}
   </th>
   <td colspan="3">
    <a href="#" title="{% trans "Expand all lines" %}" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', null, this); return false;">
     <img src="{% static "rb/images/diff-expand-all.png" %}" width="14" height="14" alt="[+]" />
     {{chunk.numlines}} line{{chunk.numlines|pluralize}}
    </a>
   </td>
  </tr>
{% if chunk.index|add:1 != file.num_chunks %}
  <tr>
   <th>
    <a href="#" title="{% trans "Expand 20 lines below" %}" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', '{{lines_of_context.0}},{{lines_of_context.1|add:20}}', this); return false;">
     <img src="{% static "rb/images/diff-expand-below.png" %}" width="28" height="14" alt="[+20]" />
    </a>
   </th>
{%   if chunk.meta.headers and chunk.meta.headers.0 %}
{%    if chunk.meta.headers.0.text == chunk.meta.headers.1.text %}
   <td colspan="3"><a href="#" title="{% trans "Expand to header" %}" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', '{{lines_of_context.0}},{{chunk.meta.headers.0.expand_offset|add:lines_of_context.1}}', this); return false;"><img src="{% static "rb/images/diff-expand-header.png" %}" width="14" height="14" alt="[+]" /> <code>{{chunk.meta.headers.0.text}}</code></a></td>
{%    else %}
   <td><a href="#" title="{% trans "Expand to header" %}" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', '{{lines_of_context.0}},{{chunk.meta.headers.1.expand_offset|add:lines_of_context.1}}', this); return false;"><img src="{% static "rb/images/diff-expand-header.png" %}" width="14" height="14" alt="[+]" /> <code>{{chunk.meta.headers.0.text}}</code></a></td>
   <td colspan="2"><a href="#" title="{% trans "Expand to header" %}" onclick="javascript:RB.expandChunk('{{base_url}}', 'file{{file.index}}', '{{file.filediff.id}}', '{{file.filediff.diffset.revision}}', {% if file.interfilediff %}'{{file.interfilediff.diffset.revision}}'{% else %}null{% endif %}, '{{file.index}}', '{{chunk.index}}', '{{lines_of_context.0}},{{chunk.meta.headers.1.expand_offset|add:lines_of_context.1}}', this); return false;"><img src="{% static "rb/images/diff-expand-header.png" %}" width="14" height="14" alt="[+]" /> <code>{{chunk.meta.headers.1.text}}</code></a></td>
{%    endif %}
{%   else %}
   <td colspan="3"></td>
{%   endif %}
  </tr>
{% endif %}
 </tbody>
{%       endif %}
{%      endfor %}{# chunks #}
{%     endif %}{# file deleted, binary and whitespace_only #}
{%  if not standalone %}
</table>
<script type="text/javascript">
  $(document).ready(function() {
    /* Add to the change index. */
    $("li.change_file_{{file.index}}").html(
      {% include_as_string "diffviewer/changeindex_entry.html" %});
  });
</script>
{%  endif %}{# not standalone #}
{% else %}{# No changed chunks and not a binary file #}
{%  if not standalone %}
<script type="text/javascript">
  $(document).ready(function() {
    $("li.change_file_{{file.index}}").remove();
  });
</script>
{%  endif %}{# not standalone #}
{% endif %}{# No changed chunks and not a binary file #}
